<section class="section section-focus">
	<div class="line">
		<div class="unit size1of1">
			<h2 class="section-title">Cronaca / Varchi al mare</h2>
		</div>
	</div>
	<div class="line">
    <ul class="u-unstyled l-row">
      <li class="unit size1of2 l-row-item">
        <article class="story">
          <figure class="story-media"><a href="#"><img src="<!-- @path thumbnail_16_9 -->"></a></figure>
          <header class="story-header">
            <h2 class="story-heading"><a href="#" class="link">In forse altre demolizioni dei chioschi a Castel Porziano: sarà battaglia legale</a></h2>
          </header>
        </article>
      </li>
      <li class="unit size1of2 l-row-item">
        <ul class="u-unstyled l-list">
          <li class="l-list-item l-list--item-span-2">
            <article class="story list-story">
              <figure class="story-media"><a href="#"><img src="<!-- @path thumbnail_16_9 -->"></a></figure>
              <header class="story-header">
                <p class="byline"><span class="label">Accordo</span><time class="timestamp">17 Apr 2015</time></p>
                <h3 class="story-heading"><a href="#" class="link">Varchi al mare e siepi al posto del Lungomuro</a></h3>
              </header>
            </article>
          </li>
          <li class="l-list-item l-list--item-span-1">
            <article class="story">
              <header class="story-header">
                <p class="byline"><span class="label">Accordo</span><time class="timestamp">17 Apr 2015</time></p>
                <h3 class="story-heading"><a href="#" class="link">Varchi al mare e siepi al posto del Lungomuro</a></h3>
              </header>
            </article>
          </li>
          <li class="l-list-item l-list--item-span-1">
            <article class="story">
              <header>
                <p class="byline"><span class="label">Sabella</span><time class="timestamp">17 Apr 2015</time></p>
                <h3 class="story-heading"><a href="#" class="link">"Entro 2016 abbatteremo il Lungomuro"</a></h3>
              </header>
            </article>
          </li>
          <li class="l-list-item l-list--item-span-1">
            <article class="story">
              <header>
                <p class="byline"><time class="timestamp">17 Apr 2015</time></p>
                <h3 class="story-heading"><a href="#" class="link"><strong class="kicker">Photogallery /</strong> Ostia, aperti varchi verso il mare</a></h3>
              </header>
            </article>
          </li>
        </ul>
      </li>
    </ul>
	</div>
</section>