// Global styles ===============================================================

.card {
	width: 100%;
	@include clearfix;

	.card-media {
		float: left;

		img {
			width: 100%;
		}
	}

	.card-header {
		padding: .5rem 0;
	}

	.card-heading {
		margin-bottom: $baseline / 2;
		@include font-size($fontsize400);
		line-height: 1.15rem;
		font-weight: 700;

		@include bp(m) {
			@include font-size($fontsize500);
			line-height: 1.5rem;
		}

		.link {
			color: $black900;
			&:hover {
				color: $black1000;
			}
		}
	}

	.card-label {
		position: relative;
		margin-bottom: 0;
		@include font-size($fontsize100);
		color: $accentpink;

		@include bp(m) {
			margin-bottom: $baseline / 2;
		}
	}

	.card-rating {
		overflow: hidden;

		@include bp(m) {
			margin-bottom: $baseline; 
		}

		li {
			float: left;
		}
	}

	.card-info,
	.summary {
		@include font-size(13);
		color: $black800;

		@include bp(s) {
			@include font-size($fontsize200);
		}
	}

	.card-info .icon {
		display: none;

		@include bp(s) {
			display: inline-block;
		}
	}

	.card-info-price {
		@include bp(s) {
			margin-right: $baseline;
		}
	}

	.card-info-address {
		display: block;
		color: $black600;

		@include bp(s) {
			margin-left: 1.25rem;
		}
	}
}

// Card Layouts ===============================================================

.card {

	// Inline Card 

	&.inline-card {

		.card-media {
			width: 30%;
			max-width: 10rem;
			margin-right: $baseline * 2;

			@include bp(s) {
				width: 6rem;
				max-width: none;
			}
		}

		.card-header,
		.card-meta {
			width: 100%;

			@include bp(m) {
				float: left;
			}
		}

		.card-header {
			padding: 0;

			@include bp(m) {
				width: 50%;
				padding-right: $baseline * 4;
			}
		}

		.summary {
			display: none;

			@include bp(m) {
				display: block;
			}
		}

		.card-meta {
			@include bp(m) {
				width: 30%;
			}

			li {
				line-height: 1.25rem;

				@include bp(s) {
					margin-bottom: $baseline;
				}
			}
		}
	}

	// Stacked Card

	&.stacked-card {
		margin-bottom: 1rem;

		.card-media {
			width: 30%;
			max-width: 10rem;
			margin-bottom: 0;
			margin-right: $baseline;

			@include bp(m) {
				width: 100%;
				max-width: none;
				margin-right: 0;
				float: none;
			}
		}
	}

	// Rounded Card

	&.rounded-card {
		background-color: $bluegrey100;
		@include border-left-radius($elementradius);
		@include border-right-radius($elementradius);
		@include clearfix;

		@include bp(m) {
			@include border-right-radius(0);
			@include border-bottom-radius($elementradius);
		}

		.card-header {
			padding: .5rem;
		}

		.card-media img {
			@include border-left-radius($elementradius); 

			@include bp(m) {
				@include border-left-radius(0);
				@include border-top-radius($elementradius);
			}

			@include bp(m) {
				@include border-left-radius(0);
				@include border-top-radius($elementradius);
			}
		}
	}

	// Tile Card

	&.tile-card {
		background-color: transparent;
		position: relative;
		padding-top: 1.5rem;

		.card-media {
			float: none;
		}

		.card-header {
			position: relative;
			background-color: $bluegrey100;
			@include border-bottom-radius($elementradius);
			padding: 1rem;
		}

		.card-heading {
			margin-bottom: $baseline;
		}

		.tile-icon {
			position: absolute;
			top: 3rem;
			left: 1.5rem;
			z-index: 2;
			@include box-shadow(0 0 0 3px white);

		}

		.author {
			margin-right: 1rem;
		}

		.author-name {
			@include font-size($fontsize200);
		}

		.location-label {
			color: $bluegrey600;

			.icon {
				fill: $bluegrey400;
			}
		}
	}
}

// Card Item ===============================================================

.card-item {
	width: 100%;	

	&.card-item-sm {
		@include bp(m) {
			width: 25%;
		}
	}

	&.card-item-mid {
		@include bp(m) {
			width: 50%;
		}

		@include bp(l) {
			width: 33.33%;
		}

		@include bp(xl) {
			width: 25%;
		}
	}
	
	&.card-item-lg {
		margin-bottom: 1rem;
	}
}

@include max-bp(s) {
	.card-footer {
		display: none;
	}
}
