// Global Styles ===============================================================

.story {
	width: 100%;
	@include clearfix;
}

.story-media {
	width: 5rem;
	float: left;
	margin-right: .5rem;

	@include bp(m) {
		margin-right: .75rem;
	}

	&.align-right {
		float: right;
		margin-left: $baseline;
	}
	
	&.align-left {
		float: left;
		margin-right: $baseline;
	}

	// Media Sizes

	&.media-full {
		width: 100%;
		margin-bottom: $baseline;
	}

	@include bp(m) {
		&.media-half {
			width: 50%;			
		}
	}

	@include bp(l) {
		&.media-sm {
			width: 8rem;
		}

		&.media-mid {
			width: 14rem;
		}
	}

	// Responsive Media Sizes

	@include max-bp(s) {
		&.bp-xs-media {
			width: 5rem;
		}
	}
}

.story-heading,
.story-subheading,
.story-summary {
	margin-bottom: $baseline;
}

.story-heading,
.story-subheading {
	word-wrap: break-word;
}

.story-heading {
	@include max-bp(s) {
		@include font-size($fontsize300);
		line-height: 1.25rem;
	}
}

.story-subheading {
	display: inline-block;
	font-family: $headingstypeface;
	@include font-size($fontsize400);

	&:before {
		display: inline-block;
		content: '';
		position: relative;
		margin-right: $gutterwidth / 2;
		vertical-align: middle;
		top: -1px;
		width: 6px;
		height: 6px;

		@include bp(m) {
			width: 8px;
			height: 8px;
		}
	}
	
	.link {
		color: $bluegrey600;
	}
}

.story-summary {
	font-family: $texttypeface;
	@include font-size($fontsize200);
	line-height: 1.35rem;
}

// Themes ===============================================================

.inverted {
	
	.story-footer {
		padding: 0 $gutterwidth;
	}
}

// Templates ===============================================================

// Hero story

.hero-story {
	position: relative;

	@include max-bp(s) {
		margin-bottom: .5rem;
	}

	.story-media {
		margin-right: .5rem;
		margin-bottom: .5rem;

		@include bp(m) {
			margin-bottom: 1rem;
		}

		img {
			width: 100%;
		}
	}

	.story-heading {
		@include font-size($fontsize600);
		line-height: 1.75rem;

		@include bp(m) {
			@include font-size($fontsize800);
			line-height: 2.5rem;
		}

		@include bp(l) {
			@include font-size(40);
			line-height: 3rem;
			font-weight: 900;
		}
	}

	.story-subheading {
		@include font-size($fontsize500);
		line-height: 1.5rem;
		font-weight: 900;

		@include bp(xl) {
			@include font-size($fontsize600);
			line-height: 2rem;
		}

		&:before {

			@include bp(l) {
				width: 12px;
				height: 12px;
				top: -2px;
			}
		}
	}

	.story-summary {
		@include bp(l) {
			@include font-size($fontsize300);
			line-height: 1.5rem;
		}
	}

	// Featured Hero

	&.featured-hero {
		padding-bottom: 0;
		background-color: $bluegrey100;

		.story-header,
		.story-footer {
			padding: 0 $baseline;

			@include bp(m) {
				padding-left: 1rem;
				padding-right: 1rem;
			}
		}

		.sublinks {
			padding-top: $baseline;
			border-top: 1px solid $bluegrey200;
		}

		.story-media {
			float: none;
		}
	}

	// Cover Hero

	&.cover-hero {
		position: relative;

		.story-header {
			position: relative;
			padding: 0;
			width: 100%;
		}

		.story-footer {
			padding: $baseline 0;
			margin-right: $baseline;
			margin-left: $baseline;

			@include bp(m) {
				margin-right: $baseline * 2;
				margin-left: $baseline * 2;
			}

			@include bp(xl) {
				margin-right: $baseline * 3;
				margin-left: $baseline * 3;
			}
		}

		.story-heading {
			@include bp(xl) {
				@include font-size($fontsize1000);
				line-height: 3rem;
			}
		}

		.story-media {
			position: relative;

			img {
				vertical-align: baseline;
			}

			@include bp(m) {
				&:after {
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					z-index: 1;
					content: '';
					width: 100%;
					height: 100%;
					background-image: linear-gradient(-180deg, rgba(135,147,153,0.35) 0%, rgba(94,103,107,0.50) 48%, #263238 100%);
				}	
			}
		}

		.story-heading {
			padding: 0 $baseline;

			@include bp(m) {
				position: absolute;
				bottom: 0;
				z-index: 2;
				padding: 0 $baseline * 2;
			}

			@include bp(xl) {
				padding: 0 $baseline * 3;
			}
		}

		.story-footer .story-subheading {
			&:last-child {
				margin-bottom: 16px;
			}
		}
	}

	// Focus Cover

	@include max-bp(m) {
		&.focus-cover {

			.story-media:after {
				display: none;

				@include bp(l) {
					display: block;
				}
			}

			.story-heading {
				position: relative;

				@include bp(l) {
					position: absolute;
				}
			}

			.link .story-heading {
				color: $black900;
			}
		}
	}
}

// Fullpage Hero

.fullpage-hero {
	padding: $baseline;
	border-top: 1px solid $bordercolor;
	border-bottom: 1px solid $bordercolor;

	@include bp(m) {
		padding: 1rem;
		@include clearfix;
	}

	.story-media {
		margin-right: 0;
		margin-bottom: 0;
		width: 100%;

		@include bp(m) {
			float: right;
			width: 50%;
		}

		@include bp(l) {
			width: 23.5rem;
		}
	}

	.story-heading {
		font-family: $titleseriftypeface;
		@include font-size($fontsize500);
		line-height: 1.5rem;

		@include bp(m) {
			@include font-size($fontsize800);
			line-height: 2.5rem;
		}

		@include bp(l) {
			@include font-size($fontsize900);
			line-height: 2.5rem;
		}
	}

	.highlight-kicker {
		font-weight: 900;

		@include bp(m) {
			@include font-size($fontsize600);
		}
	}

	&.fullpage-hero.inverted,
	&.featured-fullpage {
		border: 0;
	}

	&.featured-fullpage {
		background-color: $bluegrey100;
	}
}

// Featured Story Sizes

.featured-story {

	&.featured-sm {
		.story-heading {
			@include bp(m) {
				@include font-size($fontsize500);
				line-height: 1.5rem;
			}
		}
	}

	&.featured-mid {
		.story-media {
			@include bp(m) {
				margin-bottom: $baseline;
				width: 100%;
			}
		}

		.story-heading {
			@include bp(m) {
				@include font-size($fontsize500);
				line-height: 1.5rem;
			}
		}
	}

	&.featured-lg {
		.story-media {
			@include bp(m) {
				width: 50%;
			}
		}

		.story-heading {
			@include bp(m) {
				@include font-size($fontsize500);
				line-height: 1.5rem;
			}

			@include bp(l) {
				@include font-size($fontsize600);
				line-height: 1.75rem;
			}
		}
	}

	&.featured-xl {
		.story-media {
			@include bp(m) {
				width: 50%;
				float: left;
				margin-right: .75rem;
			}
		}
	}
}

// List Story

.list-story {

	.story-media {
		@include bp(m) {
			margin-bottom: $baseline;			
		}
	}

	.story-footer {
		display: none;

		@include bp(m) {
			display: block;
		}

		.byline {
			margin: 1rem 0 .5rem;
			color: $black600;

			.link {
				color: $black600;

				&:hover {
					color: $black700;
				}
			}

			.location-label {
				@include font-size($fontsize100);
			}
		}
	}
}

// Inset Story

.inset-story {
	position: relative;
	border-bottom: 0;
	background-color: $bluegrey1000;
	overflow: hidden;

	@include bp(m) {
		padding: 0;
		background: none;
		max-height: 24.5rem;

		&:hover {

			.story-media:after {
				background-color: rgba(38,50,56,.85);
			}

			.story-summary {
				opacity: 1;
				max-height: 300px;
			}
		}
	}

	@include bp(l) {
		max-height: 26rem;
	}

	.story-header {
		background-color: $bluegrey1000;
		padding: $baseline * 2;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 1;
		background: none;
	}

	.story-heading {
		font-family: $titleseriftypeface;
		font-weight: normal;

		@include font-size($fontsize300);
		line-height: 1.25rem;

		@include bp(m) {
			@include font-size($fontsize500);
			line-height: 1.5rem;
		}

		@include bp(xl) {
			@include font-size($fontsize800);
			line-height: 2.5rem;
		}
	}

	.story-media {
		position: relative;
		top: 0;
		left: 0;
		z-index: 0;
		width: 100%;
		margin-right: 0;

		&:after {
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			position: absolute; 
			top: 0;
			left: 0;
			background-color: rgba(38,50,56,.65);
			@include transition(background-color .2s);
		}

		img {
			width: 100%;
		}
	}

	.story-summary {
		max-height: 0;
		opacity: 0;
		overflow: hidden;
		@include transition(max-height .3s ease-in-out, opacity .2s);

		@include max-bp(m) {
			display: none;
		}

		@include bp(xl) {
			@include font-size($fontsize300);
		}
	}

	.link {
		color: white;
	}
}

// Sublinks ===============================================================

.sublinks {

	.sublink {
		margin-bottom: $baseline;
		font-family: $headingstypeface;
		@include font-size($fontsize200);
		line-height: 1.1rem;
		@include font-size($fontsize200);

		&:last-child {
			border-bottom: 0;
		}
	}
}

.inverted .sublink .link {
	color: white;
}

.sublink .kicker {
	margin-right: $baseline / 2;
}

// Cover hero for preview headline sublink

.cover-hero .sublinks {
	padding-top: $baseline;
	border-top: 1px solid $bluegrey900;

	@include bp(m) {
		border-top: 0;
		@include flexbox;
		@include flex-flow(row wrap);	
	}
}

.cover-hero .sublink {
	border-bottom: 1px solid $bluegrey900;

	@include bp(m) {
		@include flex(1 1 50%);
		padding-top: $baseline;
		border-top: 1px solid $bluegrey900;
		border-bottom: 0;

		&:nth-child(2n+1) {
			padding-right: $baseline;
		}
	}	

	.link {
		width: 100%;
	}

	.kicker {
		display: block;
		margin-right: 0;
	}
}

// Full cover hero sublink

.full-cover .sublinks {
	border-top: 1px solid $bluegrey900;
	padding-top: $baseline;
}

.full-cover .sublink {
	@include bp(m) {
		border-bottom: 0;
		border-top: 0;
		border-right: 1px solid $bluegrey900;
		padding-right: $baseline * 2;
		margin-right: $baseline * 2;

		&:last-child {
			border-right: 0;
			padding-right: 0;
			margin-right: 0;
		}
	}

	.sublink-media {
		@include bp(m) {
			float: right;
			margin: 0 0 0 $baseline;
		}
	}

}

.has-flex .full-cover .sublinks .item-span-1 {
	@include flex(1 1 0);
}

// Sublink Media

.sublink-media {
	width: 40px;
	float: left;
	margin-right: $baseline;
}

// Media Story ===============================================================

.media-item {

	@include bp(s) {
		width: 50%;
	}

	@include bp(l) {
		width: 33%;
	}

	&.size1of2 {
		width: 100%;

		@include bp(s) {
			width: 50%;
		}
	}
}

.media-story {
	border-bottom: 0;
	padding-bottom: 0;
	background-color: darken($bluegrey1000, 5%);

	.media-badge {
		position: absolute;
		bottom: 1rem;
		left: 1rem;
		@include rounded(3px);
		background-color: darken($bluegrey1000, 5%);
		padding: $baseline $baseline * 2;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		@include font-size($fontsize100);
		font-weight: 700;
	}

	.story-heading {
		margin-bottom: 0;
		color: white;
		@include font-size($fontsize400);

		@include bp(l) {
			@include font-size($fontsize500);
		}
	}

	.story-media {
		position: relative;
		margin-bottom: 0;
		float: none;
		width: 100%;
		max-width: none;
	}

	.story-header {
		padding: 1rem;
	}

	// featured media story

	&.featured-story {
		.story-heading {
			@include bp(l) {
				@include font-size($fontsize600);
			}
		}
	}
}