// Global Styles ===============================================================

.story {
	@include clearfix;
	border-bottom: 1px solid $bordercolor;
	padding: 0 0 $gutterwidth;
	width: 100%;
	.story-header {
		.story-subhead {
			margin: $gutterwidth / 2 0;
			& a {
				color: $black700;
			}
		}
	}
	.story-media {
		margin-bottom: $gutterwidth / 2;
	}
	.story-summary {
		display: none;
		@include bp(m) {
			display: block;
		}
	}
}

.story-heading,
.story-subheading {
	margin-bottom: $gutterwidth/2;
}

.story-summary {
	margin-bottom: $gutterwidth;
}

// Themes ===============================================================

.story.inverted {
	.story-header {
		padding: $gutterwidth $gutterwidth 0;
	}
	.story-footer {
		padding: 0 $gutterwidth;
	}
}

// Templates ===============================================================

// hero

.hero-story {
	position: relative;
	.story-header {
		padding: $gutterwidth / 2;
	}
	.story-summary {
		display: none;
		@include bp(m) {
			display: block;
		}
	}
	.story-media {
		margin-bottom: 0;
	}
	&.inverted {
		.story-heading a,
		.story-summary {
			color: #fff;
		}
	}
}

// list

.list-story {
	@include clearfix;
	.story-media {
		float: left;
		width: 35%;
	}
	.story-header,
	.story-footer {
		margin-left: 36.5%;
	}
	.story-footer {
		display: none;
		@include bp(l) {
			display: block;
		}
	}
	.byline {
		margin-bottom: $gutterwidth / 8;
	}
}

// list

.indepth-story {
	position: relative;
	.story-media {
		position: relative;
		top: 0;
		left: 0;
		z-index: 0;
		height: 400px;
		width: 100%;
		> img {
			width: 100%;
			height: 100%;
		}
	}
	.story-header {
		background: $black1000;
		padding: $gutterwidth / 2;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 1;
	}
}

.size2of3 .featured-story {
	.story-media {
		@include bp(m) {
			width: 50%;
			margin-right: $gutterwidth;
			float: left;
		}
	}
}

.size1of3 .featured-story {
	.story-media {
		float: right;
		width: 35%;
		margin-left: $gutterwidth/2;
	}
}

.size1of2 .list-story {
	.story-media {
		width: 50%;
		margin-right: $gutterwidth/2;
	}
}

.sublinks {
	.sublink {
		font-weight: 700;
		margin-bottom: $gutterwidth/2;
		@include font-size($smallfontsize);
	}
	.sublink .link {
		color: $black700;
	}
}

.latest-stories {
	h6 {
		text-transform: uppercase;
	}
}

.newslist-module {
	border-bottom: 1px solid $bordercolor;
	@include bp(l) {
		.l-list-item {
			margin-bottom: $gutterwidth/2;
			border-bottom: 1px solid $bordercolor;
			&:last-child {
				border-bottom: 0;
			}

		}
		.story {
			border-bottom: 0;
			padding-bottom: $gutterwidth/2;
		}
	}
}
