// Global Styles ===============================================================

.story {
	width: 100%;
	margin-bottom: $baseline;

	@include bp(l) {
		margin-bottom: $baseline * 2;
	}

	.story-media {
		margin-bottom: $baseline;
	}
}

.story-heading {
	margin-bottom: $baseline;
}

.story-subheading {
	margin-bottom: 0;
}

.story-summary {
	margin-bottom: $gutterwidth;
}

// Themes ===============================================================

.story.inverted {
	.story-header {
		padding: $gutterwidth $gutterwidth 0;
	}
	.story-footer {
		padding: 0 $gutterwidth;
	}
}

// Templates ===============================================================

// hero

.hero-story {
	position: relative;
	background-color: $bluegrey100;

	.story-media {
		margin-bottom: $baseline;

		@include bp(l) {
			margin-bottom: $baseline * 2;
		}
	}

	.story-header {
		padding: 0 $baseline;

		@include bp(m) {
			padding: 0 $baseline * 2 $baseline * 2;
		}
	}

	// cover hero

	&.cover-hero {
		position: relative;

		.story-header {
			position: relative;
			padding: 0;
			width: 100%;
			height: 100%;
		}

		.story-media {
			position: relative;

			img {
				vertical-align: baseline;
			}

			@include bp(m) {
				&:after {
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					z-index: 1;
					content: '';
					width: 100%;
					height: 100%;
					background-image: linear-gradient(-180deg, rgba(135,147,153,0.35) 0%, rgba(94,103,107,0.50) 48%, #263238 100%);
				}	
			}
		}

		.story-heading {
			padding: $baseline;

			@include bp(m) {
				position: absolute;
				bottom: 0;
				z-index: 1;
				padding: $baseline * 2;
			}
		}
	}
}

// featured

.featured-story {
	
	.story-media {
		width: 50%;
		float: left;
		margin-right: $gutterwidth / 2;
	}
}

// list

.list-story {
	@include clearfix;

	.story-media {
		float: left;
		width: 35%;
	}

	.story-header,
	.story-footer {
		margin-left: 36.5%;
	}

	.story-footer {
		display: none;
		@include bp(l) {
			display: block;
		}
	}

	.byline {
		margin-bottom: $gutterwidth / 8;
	}
}

// reportage

.indepth-story {
	position: relative;

	.story-media {
		position: relative;
		top: 0;
		left: 0;
		z-index: 0;
		height: 400px;
		width: 100%;
		> img {
			width: 100%;
			height: 100%;
		}
	}

	.story-header {
		background: $black1000;
		padding: $gutterwidth / 2;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 1;
	}
}

.size1of2 .list-story {

	.story-media {
		width: 50%;
		margin-right: $gutterwidth/2;
	}
}

// Sublinks ===============================================================

.sublinks {

	.sublink {
		font-weight: 700;
		margin-bottom: $gutterwidth / 2;
		@include font-size($fontsize200);
	}

	.sublink .link {
		color: $black700;
	}
}

.latest-stories {
	h6 {
		text-transform: uppercase;
	}
}

.newslist-module {
	border-bottom: 1px solid $bordercolor;
	@include bp(l) {
		.l-list-item {
			margin-bottom: $gutterwidth / 2;
			border-bottom: 1px solid $bordercolor;
			&:last-child {
				border-bottom: 0;
			}

		}
		.story {
			border-bottom: 0;
			padding-bottom: $gutterwidth / 2;
		}
	}
}
