/* ==========================================================================
  btns
  ========================================================================== */

// Global Styles ===============================================================


.btn,
a.btn {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 700;
	text-decoration: none;
	color: $black800;
	@include transition(all .2s);

	&:hover {
		color: $black800;
	}

	&.has-icon {
		.btn-label {
			padding-left: 4px;
		}
	}

	.btn-label {
		font-family: $headingstypeface;
	}
}

// Sizes

.small-btn {
	padding: $baseline $baseline * 2;
}

.mid-btn {
	padding: 10px $baseline * 2;
}

.large-btn {
	padding: $baseline * 2 $baseline * 3;
}

// Types

.block-btn {
	display: inline-block;
}

.rounded-btn {
	@include rounded(40px);
}

// btn Styles ===============================================================

.default-btn {
	background-color: $black400;

	&:hover {
		background: darken($black400, 5%);
	}

	&:active {
		color: $black1000;
	}
}

.primary-btn {
	background-color: $bluegrey600;
	color: white;

	&:hover {
		color: white;
		background-color: darken($bluegrey600, 5%);
	}

	&:active {
		color: $bluegrey200;
	}
}

.light-btn {
	background-color: white;
	border: 2px solid $bordercolor;
}

.link-btn {
	padding: 0;
	position: relative;
	background-color: transparent;

	&:active {
		background: none;
		box-shadow: none;
		position: relative;
		top: 1px;
	}

	&:after {
		content: '';
		position: absolute;
		left: 0;
		display: inline-block;
		height: 1em;
		width: 100%;
		border-bottom: 2px solid $black400;
		margin-top: 6px;
	}

	&:hover {
		&:after {
			border-bottom-color: $black600;
		}
	}
}

.inverted .btn {
	color: white;
}

.inverted .light-btn {
	border-color: $bluegrey800;
}

// btn Types ===============================================================


// Nav

.nav-btn {
	position: absolute;
	top: 0;
	right: 10px;
	width: auto;
	height: 56px;
	@include flexbox;

	@include bp(m) {
		right: 24px;
		height: 64px;
	}
	
	@include bp(l) {
		visibility: hidden;
	}

	.btn-label {
		@include font-size(14);

		@include bp(m) {
			@include font-size(16);
		}
	}
}

// Search & Login

.search-btn,
.login-btn {
	float: left;
	padding: $gutterwidth;
	width: $smallheadersize;

	@include bp(m) {
		width: $mediumheadersize;
		height: $mediumheadersize;
	}

	@include bp(l) {
		float: left;
		width: 72px;
		height: $largeheadersize;
	}

	.icon {
		fill: $black500;
	}

	&:hover .icon {
		fill: $black600;
	}
}

.search-btn {
	border-right: 1px solid $black900;
	border-left: 1px solid $black900;
	@include rounded(0);
	border-bottom: 0;
	border-top: 0;

	@include bp(l) {
		border-color: $bordercolor;
	}
}

.login-btn {
	
	@include bp(l) {
		width: auto;
		padding: 0 24px;
	}
	
	.btn-label {
		color: $black600;
		@include font-size(16);
	}
}

// Nav btn

.nav-btn {

	.btn-label {
		color: $black700;
	}

	.icon {
		fill: $black700;
	}

	&:hover {
		.btn-label {
			color: $black900;
		}
		.icon {
			fill: $black900;
		}
	}
}

// Close

.close-btn {
	position: absolute;
	top: 0;
	right: 0;
}
