/* ==========================================================================
  Buttons
  ========================================================================== */

// Global Styles ===============================================================


.button,
a.button {
	text-decoration: none;

	&.has-icon {
		.button-label {
			padding-left: 4px;
		}
	}

	.button-label {
		font-family: 'Neue Haas Grotesk W01';
		font-weight: 700;
	}
}

.inverted {
	fill: white;
}

// Button Types ===============================================================

// Nav

.nav-button {
	position: absolute;
	top: 0;
	right: 10px;
	width: auto;
	height: 56px;
	@include bp(m) {
		right: 24px;
		height: 64px;
	}
	@include bp(l) {
		visibility: hidden;
	}

	.button-label {
		@include font-size(14);

		@include bp(m) {
			@include font-size(16);
		}
	}
}

// Search & Login

.search-button,
.login-button {
	padding: $gutterwidth;

	@include bp(l) {
		float: left;
	}

	.icon {
		fill: $black500;
	}

	&:hover .icon {
		fill: $black600;
	}
}

.search-button {
	width: 100%;

	@include bp(l) {
		width: 72px;
		height: 72px;
		border-right: 1px solid $bordercolor;
		border-left: 1px solid $bordercolor;
	}
}

.login-button {
	width: 45%;
	height: 56px;

	@include bp(m) {
		height: 64px;
	}
	
	@include bp(l) {
		width: auto;
		height: 72px;
		padding: 0 24px;
	}
	
	.button-label {
		color: $black600;
		@include font-size(16);
	}
}

// Close

.close-button {
	position: absolute;
	top: 0;
	right: 0;
}
