/* ==========================================================================
  btns
  ========================================================================== */

// Global Styles ===============================================================


.btn,
a.btn {
	text-decoration: none;
	@include transition(all .2s);

	&.has-icon {
		.btn-label {
			padding-left: 4px;
		}
	}

	.btn-label {
		font-family: $headingstypeface;
	}
}

// Sizes

.small-btn {
	padding: $baseline $baseline * 2;
}

.mid-btn {
	padding: 10px $baseline * 2;
}

.large-btn {
	padding: $baseline * 2 $baseline * 3;
}

// Types

.block-btn {
	display: inline-block;
}

.rounded-btn {
	@include rounded(40px);
}

// btn Styles ===============================================================

.default-btn {
	background: $black400;

	&:hover {
		background: darken($black400, 5%);
	}
}

.light-btn {
	border: 2px solid $bordercolor;
}

.inverted .btn {
	color: white;
}

.inverted .light-btn {
	border-color: $bluegrey800;
}

// btn Types ===============================================================


// Nav

.nav-btn {
	position: absolute;
	top: 0;
	right: 10px;
	width: auto;
	height: 56px;
	@include flexbox;

	@include bp(m) {
		right: 24px;
		height: 64px;
	}
	
	@include bp(l) {
		visibility: hidden;
	}

	.btn-label {
		@include font-size(14);

		@include bp(m) {
			@include font-size(16);
		}
	}
}

// Search & Login

.search-btn,
.login-btn {
	float: left;
	padding: $gutterwidth;
	width: $smallheadersize;

	@include bp(m) {
		width: $mediumheadersize;
		height: $mediumheadersize;
	}

	@include bp(l) {
		float: left;
		width: 72px;
		height: $largeheadersize;
	}

	.icon {
		fill: $black500;
	}

	&:hover .icon {
		fill: $black600;
	}
}

.search-btn {
	border-right: 1px solid $black900;
	border-left: 1px solid $black900;

	@include bp(l) {
		border-color: $bordercolor;
	}
}

.login-btn {
	
	@include bp(l) {
		width: auto;
		padding: 0 24px;
	}
	
	.btn-label {
		color: $black600;
		@include font-size(16);
	}
}

// Nav btn

.nav-btn {

	.btn-label {
		color: $black700;
	}

	.icon {
		fill: $black700;
	}

	&:hover {
		.btn-label {
			color: $black900;
		}
		.icon {
			fill: $black900;
		}
	}
}

// Close

.close-btn {
	position: absolute;
	top: 0;
	right: 0;
}
