/* ==========================================================================
  COMPONENTS
  ========================================================================== */

// 01. Modal
// 02. Pagination
// 03. Alerts

/* ==========================================================================
  Modal
  ========================================================================== */

.modal {

	.modal-dialog {
		width: auto;
		margin: 1rem;

		@include bp(m) {
			width: 40rem;
			margin: 2rem auto;
		}
	}

	&.modal-sm {
		width: auto;
	}

	&.modal-sm .modal-dialog {
		@include bp(m) {
			width: 30rem;
		}
	}

	&.modal-lg .modal-dialog {
		@include bp(m) {
			width: 50rem;
		}
	}

	.modal-content {
		border: 0;
		@include box-shadow(0 .375rem );
		box-shadow: 0 5px 15px rgba(0,0,0,0.5);
	}

	.modal-body,
	.modal-footer {
		padding: 1rem;
	}

	.modal-header {
		border-bottom-color: $bordercolor;
		padding: 1.5rem 1rem;
		text-align: center;
	}

	.modal-body {
		background: $black100;
	}

	.modal-footer {
		background: $black100;
		border-top-color: $bordercolor;
		@include border-bottom-radius(.375rem);
	}

	.modal-title,
	.modal-body > p {
		color: $black900;
	}

	.close-btn {
		top: 1rem;
	}
}

.modal-backdrop {
	background: $focusoverlay;

	&.in {
		opacity: 1;
	}
}

.modal.fade .modal-dialog {
	@include transform(scale(.7,.7));
}

.modal.in .modal-dialog {
	@include transform(scale(1,1));
	@include transition(transform .15s ease-out);

}

/* ==========================================================================
  Pagination
  ========================================================================== */

.pagination {

	&.default-pagination,
	&.loadmore-pagination {
		width: 100%;
		margin: 1rem auto;
		text-align: center;

		@include bp(l) {
			margin: 2rem auto;
		}
	}

	&.default-pagination {

		> li {
			border-right: 1px solid $bordercolor;
			display: inline-block;
			font-family: $headingstypeface;
			font-weight: 700;
			@include font-size($fontsize400);

			&:last-child {
				border-right: 0;
			}
		}

		> li > a {
			margin-left: -.25rem;
			padding: .475rem 1.15rem;
			border: 0;
			color: $black600;
			@include transition(color .2s ease);

			&:hover {
				background: none;
				color: darken($black600, 10%);
			}
		}

		> li.active > a {
			background: none;
			color: $black1000;
		}
	}

	&.inverted {
		&.default-pagination {

			> li {
				border-right-color: $bluegrey700;

			}

			> li > a {
				background: transparent;
				color: $bluegrey400;

				&:hover {
					background: none;
					color: darken($bluegrey400, 10%);
				}
			}

			> li.active > a {
				color: white;
			}
		}
	}
}

/* ==========================================================================
  Alerts
  ========================================================================== */

.validation-alert {
	margin-left: 0;
	@include font-size($fontsize200);
	text-align: left;
}

.ie-alert {
	position: fixed;
	background-color: rgba(255,255,255,.98);
	width: 100%;
	height: 100%;
	z-index: 100;

	.alert-content {
		width: 40%;
		margin: 10rem auto;
	}
}