/* ==========================================================================
  FONT FACE
  ========================================================================== */

@font-face {
	font-family: 'NeueHaasGroteskDisplay';
	src: url('NeueHaasGroteskDispBlack.woff')  format('woff');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'NeueHaasGroteskDisplay';
	src: url('NeueHaasGroteskDispBold.woff')  format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'PublicoBanner';
	src: url('PublicoBanner-Bold.woff')  format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'PublicoText';
	src: url('PublicoText-Italic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'PublicoText';
	src:url('PublicoText-BoldItalic.woff') format('woff');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'PublicoText';
	src:url('PublicoText-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'PublicoText';
	src:url('PublicoText-Roman.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
