@font-face {
	font-family: 'PublicoBanner';
	src: url('/~shared/files/webfonts/PublicoBanner-BoldItalic.woff')  format('woff');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'PublicoBanner';
	src: url('/~shared/files/webfonts/PublicoBanner-Bold.woff')  format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'PublicoText';
	src: url('/~shared/files/webfonts/PublicoText-Italic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'PublicoText';
	src:url('/~shared/files/webfonts/PublicoText-BoldItalic.woff') format('woff');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'PublicoText';
	src:url('/~shared/files/webfonts/PublicoText-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'PublicoText';
	src:url('/~shared/files/webfonts/PublicoText-Roman.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
