/* ==========================================================================
  Forms
  ========================================================================== */

// Global Styles ===============================================================

.form-control {
	height: 40px;
	padding: 8px 12px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
	line-height: 1.467;
	color: #34495e;
	border: 2px solid #bdc3c7;
	border-radius: 6px;
	box-shadow: none;
	-webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
	transition: border .25s linear, color .25s linear, background-color .25s linear;

	&:focus {
		border-color: #1abc9c;
		outline: 0;
		box-shadow: none;
	}
}

.checkbox-label,
.filter-block .link {
	color: $black900;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
} 

// Filters ===============================================================

.filter-block {
	padding: $baseline * 2 0;
	border-bottom: $borderwidth $borderstyle $defaultbordercolor;

	.label {
		@include font-size(18);
	}
}
