/* ==========================================================================
  HIDERS
  ========================================================================== */

.author-role,
.author-photo,
.author-twitter,
.related-stories.inner,
.special-story .story-summary {
	display: none;
}

.bottom-module {
	display: block;
}

@include max-bp(s) {
	.story-summary,
	.story-subheading,
	.featured-story .story-footer,
	.page-title {
		display: none;
	}
}

@include bp(m) {
	.author-role,
	.author-photo {
		display: inline-block;
	}

	.related-stories.inner {
		display: block;
	}

	.related-stories.bottom {
		display: none;
	}
}

@include bp(l) {

	.special-story .story-summary {
		display: block;
	}

	.entry-secondary-slot {
		display: none;
	}
}

