/* ==========================================================================
  HIDERS
  ========================================================================== */

.entry-label.category-label {
	display: inline-block;
}

.author-role,
.author-photo,
.author-twitter {
	display: none;
}

@include max-bp(s) {
	
	.page-title {
		display: none;
	}
}

@include bp(m) {
	.author-role,
	.author-photo {
		display: inline-block;
	}
}

