/* ==========================================================================
  HIDERS
  ========================================================================== */

.entry-meta .author-role,
.entry-meta .author-photo,
.entry-meta .author-twitter,
.related-stories.inner,
.special-story .story-summary,
.events-search,
.aside-filters,
.content-secondary-column {
	display: none;
}

.bottom-module {
	display: block;
}

@include max-bp(s) {
	.story-summary,
	.story-subheading,
	.featured-story .story-footer,
	.slim-header .page-title {
		display: none;
	}
}

@include bp(m) {
	.entry-meta .author-role,
	.entry-meta .author-photo {
		display: inline-block;
	}

	.related-stories.inner {
		display: block;
	}

	.related-stories.bottom {
		display: none;
	}
}

@include bp(l) {
	.special-story .story-summary,
	.events-search,
	.aside-filters,
	.content-secondary-column {
		display: block;
	}

	.entry-secondary-slot,
	.top-filters {
		display: none;
	}
}

