/* ==========================================================================
  ICONS
  ========================================================================== */

/* ==========================================================================
   Global Styles
   ========================================================================== */

.icon {
	vertical-align: middle;
	fill: $black800;

	&.small {
		width: 1rem;
		height: 1rem;
	}

	&.medium {
		width: 1.5rem;
		height: 1.5rem;
	}

	&.large {
		width: 2rem;
		height: 2rem;
	}
	
	&.inverse-icon {
		fill: white;
	}

	&.inline-icon {
		margin-right: .25rem;
	}
}

// Use to overlay an icon over content
.overlay-icon {
	display: block;
	position: absolute;
	top: 1rem;
	right: 1rem;
	padding: 0;
}

// Create an oval shape 
.rounded-icon {
	@include rounded(50%);
	@include transition(background-color .2s);

	.small {
		width: 1rem;
		height: 1rem;
	}

	&.medium {
		width: 1.5rem;
		height: 1.5rem;
	}

	&.large {
		width: 2rem;
		height: 2rem;
	}
}

/* ==========================================================================
   Icons
   ========================================================================== */

.tile-icon {
	display: inline-block;
	width: 2.5rem;
	height: 2.5rem;
	background-image: linear-gradient(-134deg, #17BF95 0%, #34DFB4 100%);

	.icon {
		display: block;
		margin: 6px auto 0;
		fill: white;
	}
}

.caret-icon {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px dashed;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

.star-icon {
	@include max-bp(s) {
		&.medium {
			width: 20px;
		}
	}

	&.star-icon--coloured {
		fill: $accentpink;
	}

	&.star-icon--grey {
		fill: $bluegrey200;
	}
}

.site-meteo .icon {
	fill: $black700;
}

.email-icon {
	fill: $black700;
}

.facebook-icon {
	fill: rgb(59,89,152);
}

.twitter-icon {
	fill: rgb(85,172,238);
}

.whatsapp-icon {
	fill: #59cb3f;	
}

.euro-icon {
	margin-right: -$baseline;
}

.timestamp-icon {
	fill: $black500;
}

// Sliding children menu links ======================================

.has-children > a::before, .has-children > a::after, .go-back:before, .go-back:after {
	/* arrow icon in CSS - for element with nested unordered lists */
	content: '';
	position: absolute;
	top: 50%;
	margin-top: -1px;
	display: inline-block;
	height: 2px;
	width: 10px;
	background: #ffffff;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.has-children > a {
	padding-right: 40px;
}

.has-children > a::before, .has-children > a::after {
	/* arrow goes on the right side - children navigation */
	right: 20px;
	-webkit-transform-origin: 9px 50%;
	-moz-transform-origin: 9px 50%;
	-ms-transform-origin: 9px 50%;
	-o-transform-origin: 9px 50%;
	transform-origin: 9px 50%;
}

.go-back:before, .go-back:after {
	/* arrow goes on the left side - go back btn */
	left: 20px;
	-webkit-transform-origin: 1px 50%;
	-moz-transform-origin: 1px 50%;
	-ms-transform-origin: 1px 50%;
	-o-transform-origin: 1px 50%;
	transform-origin: 1px 50%;
}

.has-children > a::before, .go-back:before {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.has-children > a::after, .go-back:after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

// Play Video & Media Video ======================================

.play-video-icon {
	position: absolute;
	top: 50%;
	left: 50%;

	&:before {
		content: '';
		display: block;
		background-color: $focusoverlay;
		@include rounded(50rem);
		@include transition(background-color .15s);
	}

	&:after {
		content: '';
		position: absolute;
		border-style: solid;
	}
}

.video-media {
	position: relative;
}

.video-media .play-video-icon {
	width: 2.5rem;
	height: 2.5rem;
	margin-top: -1.25rem;
	margin-left: -1.25rem;

	&:before {
		width: 2.5rem;
		height: 2.5rem;
	}

	&:after {
		left: 0.9rem;
		top: 0.7rem;
		border-width: 0.6rem 0 0.6rem 1rem;
	}
}

.video-media:hover {
	.play-video-icon:after {
		border-left-color: $bluegrey900;
	}
}

.video-media.media-full,
.fullpage-hero .video-media {

	&.media-xs {
		.play-video-icon {
			width: 2.5rem;
			height: 2.5rem;
			margin-top: -1.25rem;
			margin-left: -1.25rem;

			&:before {
				width: 2.5rem;
				height: 2.5rem;
			}

			&:after {
				left: 0.9rem;
				top: 0.7rem;
				border-width: 0.6rem 0 0.6rem 1rem;
			}
		}
	}

	.play-video-icon {
		width: 3.5rem;
		height: 3.5rem;
		margin-top: -1.55rem;
		margin-left: -1.55rem;

		&:before {
			width: 3.5rem;
			height: 3.5rem;
		}

		&:after {
			left: 1.2rem;
			top: 0.9rem;
			border-width: 0.9rem 0 0.9rem 1.6rem;
		}
	}
}

.cover-hero .video-media .play-video-icon,
.inset-story .video-media .play-video-icon {
	z-index: 5;
}

.inset-story .video-media .play-video-icon {
	top: 1rem;
	left: 1rem;
	margin-top: 0;
	margin-left: 0;
}

.inset-story a:hover {
	.play-video-icon:after {
		border-left-color: $bluegrey900;
	}
}