/* ==========================================================================
  IMAGES
  ========================================================================== */

.avatar {
	@include rounded(50%);

	&.small {
		width: 1.5rem;
		height: 1.5rem;
	}

	&.medium {
		width: 2rem;
		height: 2rem;
	}

	&.large {
		width: 3rem;
		height: 3rem;
	}
}