/* ==========================================================================
  LAYOUT
  ========================================================================== */

/* ==========================================================================
  Global Styles
  ========================================================================== */

html {
	height: 100%;
	margin-top: 0 !important;
	font-size: $basefontsize;
	-webkit-overflow-scrolling : touch;
	-webkit-tap-highlight-color : rgba(0,0,0,0.3);
	-webkit-text-size-adjust : 100%;
	-webkit-font-smoothing: antialiased;
	-ms-text-size-adjust : 100%; 
}

body {
	background-color: $black400;
}

* {
	@include border-box;
}

a {
	color: $linkcolor;
}

a:hover, a:active, a:focus {
	outline: 0;
}

a,a:visited {
	cursor: pointer;
	text-decoration: none;

	&.underline {
		border-bottom: 0.0625rem solid #dcdcdc;
	}
}

.wrap-link {
	text-decoration: none;
}

img {
	max-width: 100%;
	border-width: 0;
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
  	resize: vertical;
}

ol, ul {
	padding: 0;
	margin-left: $gutterwidth * 2;
}

.u-unstyled, .inline-list {
	overflow: hidden;
	margin: 0;
	list-style: none;
}

.inline-list li {
	display: inline-block;
}

.wrapper {
	position: relative;
}

.main-content {
	padding: $gutterwidth 0;
}

.section {
	margin-bottom: $baseline * 2;

	@include bp(l) {
		margin-bottom: $baseline * 3;
	}
}

.align-right {
	text-align: right;
}

.align-left {
	text-align: left;
}

/* ==========================================================================
  Flexbox
  ========================================================================== */

@include bp(m) {

	// flexbox enabled from tablet and up devices

	.has-flex {

		.flx-container {
			@include flexbox;
		}

		.l-row,
		.l-list {
			width: 100%;
			@include flexbox;
		}

		.l-row,
		.flx-row {
			@include flex-flow(row nowrap);
		}

		.l-row-grid {
			@include flex-flow(row nowrap);
		}

		.l-list,
		.flx-col {
			@include flex-flow(column nowrap);
		}

		.l-row-item,
		.l-list-item {
			@include flexbox;
		}

		.item-span-1 {
			@include flex(1 1 auto);
		}

		.item-span-2 {
			@include flex(2 1 auto);
		}

		.item-span-3 {
			@include flex(3 1 auto);
		}
		
		.item-span-4 {
			@include flex(4 1 auto);
		}
		
		.item-span-5 {
			@include flex(5 1 auto);
		}
		
		.item-span-6 {
			@include flex(6 1 auto);
		}
		
		.item-span-7 {
			@include flex(7 1 auto);
		}

		.item-span-8 {
			@include flex(8 1 auto);
		}

		.item-span-9 {
			@include flex(9 1 auto);
		}

		.item-span-10 {
			@include flex(10 0 auto);
		}

		.centered-items {
			-webkit-justify-content: center;
			-webkit-align-items: center;
			-moz-justify-content: center;
			-moz-align-items: center;
			justify-content: center;
			align-items: center;
		}

		.multirow {
			@include flex-flow(wrap);

			& > .l-row-item {
				@include flex(0 1 auto);
			}
		}
	}
}

.l-row {
	margin: 0;
	padding: 0;
	list-style: none;
}


// Slice Item

.slice-item {
	padding-bottom: $baseline;

	@include bp(m) {
		padding-bottom: $baseline * 2;
	}
	
	@include bp(xl) {
		padding-bottom: $baseline * 3;
	}
}

	.focus-section .slice-item,
	.module .slice-item {
		padding-bottom: $baseline;
	}

// Layout Masonry ===============================================================

.l-masonry { /* Masonry container */
	@include column-count(1);

	@include bp(s) {
		@include column-count(2);
		@include column-gap(1rem);
	}

	@include bp(m) {
		@include column-count(3);
	}
}

.l-m-item { /* Masonry bricks or child elements */
	width: 100%;
	display:inline-block;
	margin: 0 0 1rem;
}


/* ==========================================================================
  Site Header
  ========================================================================== */

.header {
	position: relative;

	.header-top,
	.header-bottom {
		position: relative;
		@include clearfix;
		width: 100%;
	}

	.header-top {
		height: $smallheadersize;
		padding: 0 $baseline * 2;

		@include bp(m) {
			height: $mediumheadersize;
		}

		@include bp(l) {
			padding: 0 $gutterwidth;
			background-color: white;
			height: $largeheadersize;
		}

		.follow-btn {
			display: none;

			@include bp(l) {
				display: block;
				position: absolute;
				right: 14rem;
				top: 1.25rem;
			}
		}

	}

	.header-bottom {
		display: none;
		height: 3rem;
		background-color: $black300;
		padding: 0 1rem;

		@include bp(l) {
			display: block;
		}
	}

	.header-brand {
		float: left;

		.logo {
			height: 26px;
			margin-top: 4px;
			@include transition(all .3s ease);

			@include bp(m) {
				height: 36px;
			}

			@include bp(l) {
				position: relative;
				z-index: 0;
			}

			@include bp(xl) {
				height: 40px;
			}
		}

		.network {
			display: none;
			width: auto;
			color: $black500;

			@include bp(l) {
				position: relative;
				z-index: 1;
				display: block;
				margin-top: -8px;
				margin-bottom: -5px;
			}

			.logo {
				height: 12px;
				vertical-align: top;
			}
		}
	}

	& .header-meta {
		display: none;
		@include bp(l){
			display: block;
			float: left;
			margin-top: 13px;
		}
	}

	&.search-is-visible {
		.primary-nav li.current:after {
			border: none;
		}
	}
}

// Templates ===============================================================

// Template Slim

.slim-header {
	position: relative;
	@include transition(height .2s);

	.header-top {
		z-index: 6;
		height: $smallheadersize;

		@include bp(m) {
			height: $mediumheadersize;
		}

		@include bp(l) {
			height: $largeheadersize;
		}

		@include bp(l) {
			@include box-shadow(0 2px 0 $bordercolor);
		}
	}

	.header-brand {
		margin-right: $baseline * 3;

		.logo {
			margin-top: 14px;

			@include bp(m) {
				margin-top: 1.2rem;
				height: $baseline * 3;
			}

			@include bp(l) {
				margin-top: $baseline * 3;
			}
		}
	}

	.slim-header-nav {
		display: none;

		@include bp(l) {
			display: block;
			float: left;
			height: 100%;
		}

		> .mobile-nav-trigger {
			visibility: hidden;

			@include bp(l) {
				position: relative;
				float: left;
				right: 0;
				top: 0;
				height: 100%;
				visibility: visible;
			}
		}

	}

	.page-title {
		position: relative;
		margin-top: $baseline * 9;

		@include bp(m) {
			width: 50%;
			position: absolute;
			right: 0;
			left: 0;
			margin: auto;
			line-height: $mediumheadersize;
			text-align: center;
		}

		@include bp(l) {
			line-height: $largeheadersize;
		}
	}

	@include max-bp(s) {
		+ .section {
			margin-top: $baseline * 7;
		}
	}
}

// Template inverted

.slim-header.inverted {

	.nav-btn {

		.btn-label {
			color: $black500;
		}

		.icon {
			fill: $black500;
		}

		&:hover {

			.btn-label {
				color: white;
			}
			
			.icon {
				fill: white;
			}
		}
	}

	.search-btn {
		border-color: $black900;
	}
	
	.nav-btn,
	.page-title {
		color: white;
	}
}


/* ==========================================================================
  Sections
  ========================================================================== */

// Headlines ===============================================================

.headlines-section {
	margin-bottom: 0;

	.headlines-list {
		@include bp(l) {
			@include flexbox;
		}
	}
}

.headlines-main,
.headlines-aside {

	@include max-bp(m) {
		width: 100%;
	}
	
	@include bp(l) {
		@include flexbox;
		@include flex-flow(row nowrap);
		@include flex(1 1 auto);
	}
}

.headlines-main {
	@include max-bp(s) {
		.newslist-module {
			display: none;
		}
	}
}

.headlines-aside {
	@include max-bp(s) {
		display: none;
	}

	// Hide Today module on mobile and tablet devices
	> .l-list > .l-list-item:first-child {
		display: none;

		@include bp(l) {
			display: block;
		}
	}
}

.headlines-main-list {
	@include bp(l) {
		@include flexbox;
	}

	.l-row-item:last-child {
		.l-list-item:last-child {
			margin-bottom: 0;
		}
	}
}

// Newslist ===============================================================

.newslist-main
.newslist-aside {
	width: 100%;
}

.newslist-main {
	@include bp(m) {
		width: 60%;
	}

	@include bp(l) {
		width: 66.66%;
	}
}

.newslist-aside {
	@include bp(m) {
		width: 324px;
	}

	@include bp(l) {
		width: 33.33%;
	}
}

// Focus ===============================================================
