/* ==========================================================================
  Global Styles
  ========================================================================== */

.primary-nav,
.secondary-nav,
.nav-toolbar {
	display: none;
	@include bp(l) {
		display: block;
	}
}

.nav-item {

	.link {
		color: $black800;
		
		&.current {
			color: $black1000;
		}

		&:hover {
			color: $black900;
			text-decoration: none;
		}
	}


}

.nav-toggle {
	display: none;
	float: left;
	margin: 0 $gutterwidth;
	line-height: 2.2em;
	@include bp(l) {
		display: block;
	}
}

.nav-toolbar {
	position: absolute;
	top: 0;
	right: 0;
}

.nav-mobile {
	position: absolute;
	right: 10px;
	display: block;
	@include bp(m) {
		top: 10px;
	}
	@include bp(l) {
		display: none;
	}
}


/* ==========================================================================
  Primary Navigation
  ========================================================================== */

.primary-nav {
	@include bp(l) {
		position: absolute;
		left: 35%;
		top: 0;
	}

	.nav-item {
		position: relative;
		margin-right: $baseline * 4;
		padding: $baseline * 3 0 0 0;
		height: 72px;
		font-family: $brandfontfamily;
		font-weight: normal;
		@include font-size(20);
		text-transform: uppercase;
	}

	.nav-item .link {
		color: $black600;

		&:hover {
			color: $black700;
		}
	}

	.nav-item.current:after {
		display: inline-block;
		position: absolute;
		content: '';
		margin: auto;
		left: 0;
		right: 0;
		bottom: 0;
		width: 0;
		height: 0;
		vertical-align: middle;
		border-bottom: 10px dashed;
		border-right: 16px solid transparent;
		border-left: 16px solid transparent;
		color: $black400;
	}
}

/* ==========================================================================
  Secondary Navigation
  ========================================================================== */

.secondary-nav {
	@include bp(l) {
		position: absolute;
		left: 35%;
		top: 13px;
	}

	.nav-item {
		margin-right: $baseline * 2;
		font-family: $basefontfamily;
		@include font-size(16);
		@include bp(xl) {
			@include font-size(18);
		}
	}
}

/* ==========================================================================
  Sliding Navigation
  ========================================================================== */

.mobile-nav {
	width: 250px;
	height: 100%;
	position: fixed;
	top: 0;
	right: -250px;
	z-index: 10;
	background: $black1000;
	border-left-width: 3px;
	border-left-style: solid;
	@include transform(translateX(0));
	overflow-x: hidden;
	overflow-y: scroll;

	.nav-item {
		border-bottom: 1px solid $black1000;
		font-family: $basefontfamily;
		font-weight: 700;
		@include font-size(20);
	}

	.nav-item .link {
		padding: $gutterwidth;
		display: block;
		color: white;
		width: 100%;
		background-color: $black900;

		&:hover {
			text-decoration: none;
		}

		&:active {
			background-color: $black1000;
		}
	}

	.search-button,
	.login-button {
		.icon {
			fill: $bluegrey400;
		}
		.button-label {
			color: $bluegrey400;
		}
	}

	.close-button {
		top: 14px;
		right: $gutterwidth;
	}
}

/* ==========================================================================
  Sliding Navigation
  ========================================================================== */

.sliding-nav {
	position: absolute;
	background-color: $black400;
	border-top-width: 3px;
	border-top-style: solid;
	left: 0;
	width: 100%;
	@include transform(translateY(-51px));
	@include transition(transform .2s .15s);
	z-index: 5;

	.nav-item {
		float: left;
		display: inline;
		font-family: $basefontfamily;
		font-weight: 700;
		@include font-size(18);
		line-height: 16px;
		padding: $gutterwidth ;
		opacity: 0;
		@include transform(translateY(-10px));
		@include transition(transform .2s, opacity .2s);
	}
}

/* ==========================================================================
  Submenu
  ========================================================================== */

.zone,
.alfabeto {
	color: white;
	float: left;
}

.alfabeto {
	width: 20%;
	position: absolute;
	top: 10px;
	left: 0;
	text-align: center;
	overflow: hidden;
	z-index: 10;
}
.zone {
	position: relative;
	z-index: 10;
	width: 70%;
	margin-left: 30%;
	height: 95%;
	overflow-y: scroll;
}

.content-blocker {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(0,0,0,0.5);
	display: none;
}