/* ==========================================================================
  Global Styles
  ========================================================================== */

.primary-nav,
.secondary-nav {
	display: none;

	@include bp(l) {
		display: block;
	}
}

.nav-item {

	.link {
		color: $black800;

		&:hover {
			color: $black900;
			text-decoration: none;
		}
	}

	&.current {

		.link {
			color: $black1000;
		}
	}
}

/* ==========================================================================
  Primary Navigation
  ========================================================================== */

.primary-nav {
	@include bp(l) {
		position: absolute;
		left: 35%;
		top: 0;
	}

	.nav-item {
		position: relative;
		margin-right: $baseline * 4;
		padding: $baseline * 3 0 0 0;
		height: $largeheadersize;
		font-family: $brandtypeface;
		font-weight: normal;
		@include font-size($fontsize500);
		text-transform: uppercase;

		.link {
			color: $black600;

			&:hover {
				color: $black700;
			}
		}

		&.current {
			
			.link {
				color: $black900;
			}
		}
	}

	.nav-item.current:after {
		display: inline-block;
		position: absolute;
		content: '';
		margin: auto;
		left: 0;
		right: 0;
		bottom: 0;
		width: 0;
		height: 0;
		vertical-align: middle;
		border-bottom: 14px solid;
		border-right: 20px solid transparent;
		border-left: 20px solid transparent;
		color: $black300;
	}
}

/* ==========================================================================
  Secondary Navigation
  ========================================================================== */

.secondary-nav {
	position: relative;
	text-align: center;

	&.absolute-position {
		position: absolute;
		left: 35%;
		padding: 0;
		text-align: none;
	}

	.nav-item {
		line-height: 3rem;
		margin: 0 $baseline;
		font-family: $headingstypeface;
		@include font-size($fontsize400);

		&:first-child {
			margin-left: 0;
		}

		&:hover {
			@include box-shadow(inset 0 -.35rem 0 $black400);
		}

		&.current {
			@include box-shadow(inset 0 -.35rem 0 white);
		}

		&.nav-back-link {
			position: absolute;
			left: 0;
			line-height: 3rem;
			@include font-size($fontsize200);
			color: $black600;
			fill: $black600;

			&:hover {
				@include box-shadow(none);
				color: $black700;
				fill: $black700;
				text-decoration: none;
			}
		}
	}
}

/* ==========================================================================
  Mobile Navigation
  ========================================================================== */

.mobile-nav {
	width: 250px;
	height: 100%;
	position: fixed;
	top: 0;
	z-index: 1000;
	background: $bluegrey1000;
	border-left-width: 4px;
	border-left-style: solid;
	@include transform(translateX(0));
	overflow-x: hidden;
	overflow-y: auto;
	visibility: hidden;

	@include max-bp(m) {
		right: -250px;
	}

	@include bp(l) {
		width: 320px;
		left: -320px;
		border-left-width: 0;
		border-right-style: solid;
		border-right-width: 4px;
	}

	.mobile-nav-header {
		position: relative;

		.header-brand {
			padding: 1rem;

			@include bp(l) {
				padding: $baseline 1rem;
			}
			
			@include max-bp(m) {
				display: none;
			}

			.logo {
				width: 10rem;
			}

			.logo-network {
				fill: white;
			}
		}

		.close-btn {
			top: .3rem;

			@include bp(m) {
				top: .5rem;
			}

			@include bp(l) {
				top: .75rem;
			}
		}

		.nav-toolbar {
			height: $smallheadersize;

			@include max-bp(m) {
				@include clearfix;
			}

			@include bp(l) {
				display: none;
			}
		}

		.account-btn {
			float: left;
			@include bp(m) {
				padding: .85rem;
			}
		}
	}

	.nav-items-list {
		clear: left;
	}

	.nav-item .link {
		display: block;
		padding: .65rem 1rem;
		width: 100%;
		background-color: $bluegrey900;
		border-bottom: 1px solid $bluegrey1000;
		font-family: $headingstypeface;
		font-weight: 700;
		@include font-size($fontsize400);
		color: white;

		@include bp(s) {
			padding: .75rem 1rem;
			@include font-size($fontsize500);
		}

		@include bp(s) {
			padding: 1rem;
		}

		&:hover {
			text-decoration: none;
		}

		&:active {
			background-color: $bluegrey1000;
		}
	}

	.has-children > a, .go-back {
	  position: relative;
	}

	.link.go-back {
		padding-left: $baseline * 5;
	}
}

.mobile-nav-trigger,
.content-blocker {
	-webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-tap-highlight-color: transparent;
}

.nav-children {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	overflow: hidden;
	background: $bluegrey1000;
	@include transition(all .15s ease-in-out);
	-webkit-overflow-scrolling: touch;

	&::-webkit-scrollbar {
		display: none;
	}

	.alph-list {
		width: 3rem;
		position: absolute;
		top: 3rem;
		left: 0;
		text-align: center;
		overflow: hidden;
		z-index: 10;

		@media screen and (min-height: 568px) {
			top: 3.5rem;
		}
	}

	.alph-groups-container {
		position: relative;
		width: 70%;
		height: 88%;
		margin-left: 4rem;
		top: 0;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;

		@include bp(m) {
			height: 95%;
		}

		h5 {
			color: $bluegrey700;
			@include font-size($fontsize100);
			font-family: $alttexttypeface;
			text-transform: uppercase;
			margin: $baseline 0;

			&.index-alphabetic-list {
				@include font-size($fontsize400);
			}
		}

		&::-webkit-scrollbar {
			display: none;
		}
	}

	.alph-group {
		border-top: 1px solid $black900;
		padding: $baseline 0;

		&:first-child {
			border-top: 0;
		}

		li a {
			color: white;
			font-family: $alttexttypeface;
			display: block;
			padding: $baseline / 2 0;
		}
	}

	.alph-item {
		color: $bluegrey700;
		display: block;
		padding: .47rem 0;
		@include font-size(11);
		font-family: $alttexttypeface;
		font-weight: 700;
		line-height: .35rem;
		text-align: center;

		@media screen and (min-width: 375px) {
			padding: .55rem 0;
		}

		@include bp(s) {
			margin: $baseline auto;
		}

		a {
			color: white;
		}
	}
}

.content-blocker {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -10;
	background-color: $focusoverlay;
	opacity: 0;
	@include transition(opacity .2s ease);
	-webkit-overflow-scrolling: touch;
}

/* ==========================================================================
  Tabbed Navigation
  ========================================================================== */

.nav-tabs {
	border-bottom: 0;

	@include bp(m) {
		display: none;
	}

	ul {
		@include clearfix;
	}

	.tab {
		float: left;
		width: 50%;
		text-align: center;
		background-color: $black300;
		font-family: $headingstypeface;

		a {
			display: block;
			width: 100%;
			color: $black700;
			line-height: 3rem;

			&:hover {
				text-decoration: none;
			}
		}

		&.current {
			background-color: white;

			a {
				color: $black1000;
			}
		}
	}
}

/* ==========================================================================
  Navigation Links
  ========================================================================== */
// Use for Trending Topics or Top Visited Links

.nav-links {
	width: 100%;
	margin-bottom: 1rem;
	padding: $baseline;
	background-color: $black200;

	.nav-item {
		margin: 0 $baseline;
		@include font-size($fontsize200);
		font-weight: 700;

		@include bp(m) {
			display: inline-block;
		}
	}
}

/* ==========================================================================
  Alphabetical Navigation
  ========================================================================== */

.nav-alph-container {
	width: 1rem;
	float: right;

	@include max-bp(s) {
		margin-right: $baseline;
	}
	
	@include bp(m) {
		width: 100%;
		float: none;
	}
}

.nav-alph {
	@include bp(m) {
		margin-bottom: 1rem;
		padding: 0 1rem;
		line-height: 2rem;
	}

	&.affix {
		top: $baseline;
		
		@include bp(m) {
			width: 100%;
			padding: 1rem;
			background-color: white;
			border-bottom: 2px solid $bordercolor;
			z-index: 10;
			top: 0;
		}
		
		@include bp(l) {
			width: 1000px;
		}
		
		@include bp(xl) {
			width: 1188px;
		}
	}
	

	.alph-item {
		font-family: $alttexttypeface;
		@include font-size($fontsize200);
		text-transform: uppercase;
		font-weight: 700;

		@include bp(m) {
			display: inline-block;
		}
				
		.link {
			color: $black600;
			
			&:hover {
				text-decoration: none;
			}

			@include bp(m) {
				padding: $baseline .65rem;
				@include font-size($fontsize200);
				@include rounded(3px);
					
				&:hover {
					color: $black700;
					background-color: $black300;
				}
			}

			@include bp(l) {
				padding: $baseline 1rem;
			}				
		}

		&.disabled .link {
			color: $black400;
			background-color: white;
		}
	}
}
