/* ==========================================================================
  Modifiers
  ========================================================================== */

// Touch Events Detect ===============================================================

.touchevents {
	a:hover {
		text-decoration: none !important;
	}

	.inset-story .block-link:hover .story-heading {
		color: white !important;
	}
}

// Global modifiers ===============================================================

.centered {
	@include flexbox;
	-webkit-justify-content: center;
	-webkit-align-items: center;
	-moz-justify-content: center;
	-moz-align-items: center;
	justify-content: center;
	align-items: center;
}

.h-centered {
	@include flexbox;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	justify-content: center;
}

.v-centered {
	@include flexbox;
	-webkit-align-items: center;
	-moz-align-items: center;
	align-items: center;	
}

.unspaced {
	margin: 0;
	padding: 0;
}

.u-unstyled, .inline-list {
	overflow: hidden;
	margin: 0;
	list-style: none;
}

.inline-list li {
	display: inline-block;
}

.align-right {
	text-align: right;
}

.align-left {
	text-align: left;
}

// States ===============================================================

.is-animated {
	&.mobile-nav {
		@include transition(all .15s ease-in-out);
	}
}

.is-hidden {
	&.nav-children {
		@include transform(translateX(-250px));
	}
}

html.is-locked  body {
	height: 100%;
	overflow: hidden;
}

.is-fixed {

	/* Fixed filters when scrolling down the viewport - desktop only */
	@include bp(l) {
		.aside-filters {
			position: fixed;
			width: 246px;
			top: 1rem;

			@include bp(xl) {
				width: 293px;
			}
		}

		.cards-list-container {
			margin-left: 246px;

			@include bp(xl) {
				margin-left: 293px;
			}
		}
	}
}

.is-desktop {
	display: none;
	
	@include bp(l) {
		display: block;
	}
}

.is-mobile {
	display: block;

	@include bp(m) {
		display: none;
	}
}

.is-up-to-tablet {
	display: block;

	@include bp(l) {
		display: none;
	}
}

.is-nav-open {
	.mobile-nav {
		visibility: visible;
		@include transform(translateX(-250px));

		@include bp(l) {
			@include transform(translateX(250px));
		}
	}

	.content-blocker {
		opacity: 1;
		z-index: 9;

		@include bp(l) {
			opacity: 0;
		}
	}
}

.has-min-width {
	min-width: 300px;
}