/* ==========================================================================
  MODULES
  ========================================================================== */

/* ==========================================================================
  Global Styles
  ========================================================================== */

.module {
	width: 100%;
	border-top: 3px solid $bordercolor;
}

/* ==========================================================================
  Slots
  ========================================================================== */

.slots {
	width: 100%;
	background: $black200;

}

.slot {
	padding: $baseline;
	width: 100%;
	@include bp(l) {
		padding: 0;
	}
	@include bp(xl) {
		padding: $baseline;
	}
}

// Slot Sizes ===============================================================

.medium-slot {
	margin: 0 auto;
	width: 300px;
}

.half-slot {
	margin: 0 auto;
	width: 300px;
	height: 600px;
}

// Slot Templates ===============================================================

.slots-headlines {
	@include flexbox;
	margin-bottom: 0;

	.l-list {
		margin: 0 auto;
		@include bp(xl) {
			padding: $gutterwidth 0;
		}
	}
}

.slots-headlines {
	.l-list,
	.l-list-item {
		@include flex-flow(row nowrap);
		@include bp(l) {
			@include flex-flow(column nowrap);
		}
	}
}

/* ==========================================================================
  Cards
  ========================================================================== */

@import "modules/cards";

/* ==========================================================================
  Story
  ========================================================================== */

@import "modules/story";


/* ==========================================================================
  Latest News
  ========================================================================== */

.latestnews-module {
	@include flexbox;
	@include flex-flow(column nowrap);

	.module-title {
		@include flex(1 1 auto);
	}

	.l-list {
		@include flex(4 1 auto);
	}

	.story {
		border-bottom: 1px solid $bordercolor;
	}	
}