/* ==========================================================================
  MODULES
  ========================================================================== */

/* ==========================================================================
  Global Styles
  ========================================================================== */

.module {
	width: 100%;
	border-top: 3px solid $bordercolor;
}

.has-flex {
	.module {
		@include flexbox;
		@include flex-flow(column nowrap);

		.l-list {
			@include flex(4 1 auto);
		}
	}
}

/* ==========================================================================
  Related
  ========================================================================== */

.related-stories {

	&.inner {
		width: 18rem;
		float: left;
		clear: left;
		margin: 0 2rem 2rem 0;

		@include bp(l) {
			float: right;
			clear: right;
			margin: 4rem -23rem $baseline * 2 0;
			width: 20rem;
		}

		@include bp(xl) {
			float: left;
			clear: left;
			margin: 0 $baseline * 3 0 -13rem;
		}
	}

	h5 {
		margin-bottom: .25rem;
		font-family: $brandtypeface;
		@include font-size($fontsize200);
		line-height: 3rem;
		color: $black700;
		text-transform: uppercase;
		position: relative;

		&:before {
			display: block;
			content: '';
			height: .25rem;
			width: 2.5rem;
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	.story-heading {
		display: inline;
		margin-right: .25rem;
		@include font-size($fontsize300);
		line-height: .5rem;
	}

	.story-media {
		width: 4rem;
		float: left;
		margin-right: .5rem;
	}

	.timestamp {
		display: inline;
		white-space: nowrap;
	}
}

/* ==========================================================================
  Slots
  ========================================================================== */

.slots,
.slot {
	width: 100%;
}

.slots {
	margin: $baseline * 2 0;
	background: $black200;
	border: 1px solid $black300;
}

.slot {
	margin: $baseline;
}

// Slot Sizes ===============================================================

.medium-slot {
	margin-right: auto;
	margin-left: auto;
	width: 300px;
}

.half-slot {
	margin: 0 auto;
	width: 300px;
	height: 600px;
}

// Slot Templates ===============================================================

.slots-headlines,
.entry-aside-slots {
	margin: 0;
}

.slots-headlines {
	@include flexbox;

	.l-list {
		margin: 0 auto;
	}
}

.slots-headlines {
	.l-list,
	.l-list-item {
		
		@include flex-flow(row nowrap);

		@include bp(l) {
			@include flex-flow(column nowrap);
		}
	}
}

/* ==========================================================================
  Cards
  ========================================================================== */

@import "modules/cards";

/* ==========================================================================
  Story
  ========================================================================== */

@import "modules/story";


/* ==========================================================================
  Meta
  ========================================================================== */

.meta-byline,
.meta-social {
	border-top: 1px solid $bordercolor;
	padding-top: $baseline;
	margin-bottom: $baseline;
	@include clearfix;
}

// Meta Social ===============================================================

.meta-social {

	.social-item {
		display: inline;
		list-style: none;
		margin: 0 0 0 0;
		padding: 0;
	}

	.social-item .icon {
		width: 32px;
		height: 32px;
	}

	&.bottom-social {
		float: none;
		width: 100%;
	}

	.social-counter {
		width: 25%;
		display: block;
		float: left;
		text-align: right;

		@include bp(m) {
			width: 24%;
			margin-left: $baseline * 2;
			text-align: left;
		}

		@include bp(xl) {
			width: 100%;
			float: none;
			margin: 0 0 $baseline * 2 0;
		}

		.number {
			font-family: $headingstypeface;
			font-weight: 700;
			@include font-size($fontsize500);
			line-height: 2rem;
			color: $bluegrey700;
			vertical-align: middle;

			@include bp(m) {
				display: block;
				@include font-size($fontsize600);
			}

			@include bp(xl) {
				@include font-size($fontsize800);

			}
		}

		.counter-label {
			display: none;
			@include font-size($fontsize100);
			color: $bluegrey700;

			@include bp(m) {
				display: inline-block;
			}
		}

		.icon {
			width: 12px;
			height: 12px;
			fill: $bluegrey600;
		}
	}
}

// Entry Meta

.entry-meta .meta-social {

	@include bp(m) {
		width: 50%;
		float: right;
	}

	@include bp(xl) {
		width: 100%;
		float: none;
	}

	.social-items {
		float: left;
		width: 50%;

		@include bp(m) {
			width: 42%;
			line-height: 3rem;
			text-align: right;
		}

		@include bp(xl) {
			float: none;
			width: 100%;
			margin-bottom: $baseline;
			text-align: left;
		}
	}
}

// Meta Byline ===============================================================

.meta-byline {

	@include bp(m) {
		width: 50%;
		float: left;
	}

	@include bp(xl) {
		width: 100%;
		float: none;
	}

	.author {
		@include bp(xl) {
			margin-bottom: $baseline;
		}
	}

	.author-name,
	.author-role,
	.entry-timestamp {
		@include font-size($fontsize200);
	}

	.author-photo {
		float: left;
		margin: 0 $baseline 0 0;
		width: $baseline * 6; 

		@include bp(xl) {
			float: none;
			margin: 0;
		}
	}

	.author-name {
		display: inline-block;
		@include font-size($fontsize200);
		line-height: 1.5rem;
		font-weight: 700;
		color: $black900;

		@include bp(xl) {
			display: block;
		}
	}

	.author-role {
		color: $black800;
		font-style: italic;

		@include bp(m) {
			margin-bottom: $baseline / 2;
		}

		@include max-bp(m) {
			padding-left: $baseline / 2;
		}
	}

	.author-twitter {
		display: none;

		& > .icon {
			margin: 0 5px;
			width: 14px;
			height: 14px;
			fill: lightblue;
		}
	}
}

/* ==========================================================================
  Tags
  ========================================================================== */

.tags-list {
	margin: $baseline * 3 0;
	padding-top: $baseline;
	border-top: 1px solid $bordercolor;
}



/* To Fix */

.back-top {
	clear: left;
	padding: 10px 0;
	border-top: 1px solid #ccc;
	@include bp(l) {
		display: none;
	}
}

.bottom-nav {
	border-top: 1px solid #ccc;
	@include bp(l) {
		display: none;
	}
}

.bottom-nav ul {
	padding: 0;
	width: 50%;
	float: left;

	& li {
		margin-bottom: 10px;
	}

	& a {
		@include font-size(12);
	}

}
