/* ==========================================================================
  Modifiers
  ========================================================================== */

// Adjectives ===============================================================

.centered {
	@include flexbox;
	-webkit-justify-content: center;
	-webkit-align-items: center;
	-moz-justify-content: center;
	-moz-align-items: center;
	justify-content: center;
	align-items: center;
}

.h-centered {
	@include flexbox;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	justify-content: center;
}

.v-centered {
	@include flexbox;
	-webkit-align-items: center;
	-moz-align-items: center;
	align-items: center;	
}

.inverted {
	background-color: $bluegrey1000;
}

// States ===============================================================

.is-animated {
	&.mobile-nav {
		@include transition(all .15s ease-in-out);
	}
}

.is-hidden {
	&.nav-children {
		@include transform(translateX(-250px));
	}
}

html.is-locked  body {
	height: 100%;
	overflow: hidden;
}

.is-fixed {

	@include bp(l) {
		.aside-filters {
			position: fixed;
			width: 246px;
			top: 1rem;

			@include bp(xl) {
				width: 293px;
			}
		}

		.cards-list-container {
			margin-left: 246px;

			@include bp(xl) {
				margin-left: 293px;
			}
		}
	}
}

.is-desktop {
	display: none;
	
	@include bp(l) {
		display: block;
	}
}

.is-mobile {
	display: block;

	@include bp(m) {
		display: none;
	}
}

.is-up-to-tablet {
	display: block;

	@include bp(l) {
		display: none;
	}
}

.is-nav-open {
	.mobile-nav {
		@include transform(translateX(-250px));
	}

	.content-blocker {
		display: block;

		@include bp(l) {
			display: none;
		}
	}
}
/*
.is-nav-sliding {
	&.slim-header {
		height: 123px;
		@include transition(height .2s);
	}

	.header-top {
		z-index: 6;
	}

	.sliding-nav {
		@include transition(transform .2s);	
		@include transform(translateY(0));

		.nav-item {
			opacity: 1;
			@include transform(translateY(0));
			@include transition(transform .2s .25s, opacity .2s .25s);
		}
	}
}
*/

.has-min-width {
	min-width: 300px;
}



