/* ==========================================================================
  MODULES
  ========================================================================== */

/* ==========================================================================
  Global Styles
  ========================================================================== */

.module {
	width: 100%;
	border-top: 3px solid $bordercolor;
}

.has-flex {
	.module {
		@include flexbox;
		@include flex-flow(column nowrap);

		.l-list {
			@include flex(4 1 auto);
		}
	}
}

/* ==========================================================================
  Custom Sub-Headers
  ========================================================================== */

.custom-subheader {
	position: relative;
	background-color: $bluegrey100;
	border-top-width: 2px;
	border-top-style: solid;
	z-index: 7;

	.page-title {
		display: inline-block;
		margin: .5rem 0;
		@include font-size($fontsize600);
		line-height: 2.5rem;

		@include bp(m) {
			margin: 1rem .5rem 1rem 0;
			@include font-size($fontsize900);
		}

		@include bp(l) {
			margin: 1.5rem .5rem 1.5rem 0;
		}
	}

	.secondary-nav {
		background-color: darken($bluegrey100, 3%);
		text-align: left;

		@include bp(m) {
			display: block;
		}

		.nav-item {
			margin: 0;

			a {
				display: inline-block;
				padding-left: 1rem;
				line-height: 2.5rem;
			}

			span {
				padding-right: 1rem;

			}

			&:hover {
				box-shadow: inset 0 -.35rem 0 $bluegrey200;
			}
		}

		.nav-item.current {
			background-color: white;
			border-top: 2px solid $bluegrey200;
		}
	}

	.byline {
		display: none;

		@include bp(m) {
			display: inline-block;
		}

		em {
			color: $black700;
		}
	}

	.follow-btn {
		position: absolute;
		top: .5rem;
		right: 1rem;

		@include bp(m) {
			top: 1rem;
		}

		@include bp(l) {
			top: 1.5rem;
		}
	}

	.subheader-nav-dropdown {
		margin-bottom: .5rem;

		@include bp(m) {
			display: none;
			visibility: hidden;
		}
	}
}

/* ==========================================================================
  Discussion
  ========================================================================== */

.discussion-section {
    border-bottom: 0.15rem solid $bordercolor;
    
    .discussion-thread {
        width: 100%;
        
        .nested-thread {
            padding-left: 2rem;

            @include bp(m) {
                padding-left: 4rem;
            }
        }
    }
    
    .discussion-comment-box {
    	margin-bottom: 1rem;
    	padding-bottom: 2rem;
    	border-bottom: 1px solid $bordercolor;
    }

    .comment-box-author {
    	@include clearfix;
    	margin-bottom: .5rem;

    	.comment-author-label,
    	.comment-author-name {
    		display: inline;

    		@include bp(l) {
    			display: block;
    		}
    	}

    	.comment-author-name {
    		font-weight: 700;
    		color: $black800;
    	}

    	.comment-author-label {
    		color: $black600;
    	}

    	.comment-author-photo {
    	    display: none;
    	        
    	    @include bp(l) {
    	        display: block;
    	        float: left;
    	        margin-right: 1rem;
    	    }
    	}
    }

    .comment-box-content {
    	@include clearfix;

    	form {
    	    textarea {
    	        width: 100%;
    	        margin: 0 auto 0.5rem;
    	    }

    	    .comment-submit-btn {
    	        width: 100%;
    	        margin: 0 auto;
    	        
    	        @include bp(m) {
    	            width: auto;
    	            float: left;
	    	    	margin-right: .5rem;
    	        }
    	    }

    	    .comment-box-options {
    	    	display: inline-block;
				line-height: 2.5rem;

				.btn {
	    	    	@include font-size($fontsize100);
				}
    	    }
    	}
    }
    
    .comment-info-author {
        margin-bottom: 1rem;
        
        h4 {
        	@include font-size($fontsize200);
            font-size: $fontsize200;
            display: inline;
            margin-bottom: 2rem;
            padding-top: 0.750rem;

            @include bp(m) {
	        	@include font-size($fontsize300);
                margin-bottom: 1rem;
            }
        }
        
        .timestamp { /* usare .timestamp - intercetta tutti gli <span> dentro discussion section */
            display: block;
        }
    }
    
    .comment {
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        border-bottom: 1px solid $bordercolor;
        @include clearfix;

    	@include bp(m) {
    		padding-bottom: 1.5rem;
    		margin-bottom: 1.5rem;
    	}

        .author-photo {
            display: block;
            float: left;
            margin-right: .5rem;
        }

        .comment-content {
        	@include max-bp(s) {
	        	@include font-size($fontsize200);
        	}
        }

        .comment-actions {

            .btn {
                font-size: .75rem;
                margin-right: .5rem;
                line-height: 1.25rem;
            }
        }
    }

    .discussion-head {

    	h3 {
    		color: $bluegrey600;
    	}

    	.discussion-counter {
    		color: $bluegrey400;
    	}

        .discussion-action {
	        @include font-size($fontsize100);
	        line-height: 1.25rem;
        }
    }

    .thread-load {
    	margin: 1rem 0 2rem;
    }
}

/* ==========================================================================
  Event Details
  ========================================================================== */

.event-details {
	margin-bottom: 1rem;
	background: $black200;
	@include clearfix;

	@include bp(l) {
		margin-bottom: 2rem;
	}

	@include bp(xl) {
		margin-left: 13rem;
	}

	.entry-media {
		margin: 0;
		float: left;
	}

	.static-map {
		position: relative;
		width: 50%;

		@include bp(m) {
			width: 14rem;
		}

		@include bp(l) {
			width: auto;
		}
	}

	.description-list {
		width: 100%;
		margin: 0;
		padding: .5rem;
		float: left;

		@include bp(m) {
			width: 35%;
			padding: .5rem 1rem;
		}

		@include bp(l) {
			padding: 1rem 2rem;
			width: 25rem;
		}

		dt {
			font-family: $brandtypeface;
			text-transform: lowercase;
			color: $black600;
		}

		dd {
			color: $black900;
			@include font-size($fontsize200);

			@include bp(l) {
				@include font-size($fontsize400);
			}

			span {
				display: block;
			}
		}
	}
}

// Static Map ===============================================================

.static-map {
	float: left;
	overflow: hidden;

	.map-thumbnail {
		width: 100%;
	}

	@include bp(l) {
		.map-thumbnail {
			@include transform(scale(1,1));
			@include transition(transform .2s ease);
		}

		&:hover {

			.map-thumbnail {
				@include transform(scale(1.25,1.25));
				@include transition(transform .2s ease);
			}
		}
	}
}

/* ==========================================================================
  Filters
  ========================================================================== */

.filter-block {
	float: left;
	width: auto;
	margin: 0;

	@include bp(l) {
		width: auto;
		float: none;
		margin: 0 0 .5rem 0;
		padding: .5rem 0;
		border-bottom: $borderwidth $borderstyle $defaultbordercolor;
	
	}

	h6 {
		margin-bottom: .5rem;
		@include font-size($fontsize300);
		color: $black600;
	}

	&.grouped-filters {
		padding: 1rem;
		border: 2px solid $bordercolor;
	}
}

.filters-list {
	> li {
		padding: .25rem 0;
	}
}

// Top Filters ===============================================================

.top-filters {
	margin-bottom: 1rem;
	border-bottom: 1px solid $bordercolor;

	.filter-block {
		width: 50%;
		padding-bottom: 1rem;

		@include bp(m) {
			width: 33.33%;
		}
	}

	.dropdown-menu {
		width: 200%;

		@include bp(m) {
			width: 100%;
		}

		.checkbox {
			margin-left: 1rem;
		}
	}

	.dropdown-toggle {
		display: block;
		width: 100%;
		text-align: left;

		.caret {
			position: absolute;
			top: 1.25rem;
			right: 1rem;
		}
	}
}

/* ==========================================================================
  Related
  ========================================================================== */

.related-stories {

	&.inner {
		width: 18rem;
		float: left;
		clear: left;
		margin: 0 2rem 2rem 0;

		@include bp(l) {
			float: right;
			clear: right;
			margin: 4rem -23rem $baseline * 2 0;
			width: 20rem;
		}

		@include bp(xl) {
			float: left;
			clear: left;
			margin: 0 $baseline * 3 0 -13rem;
		}
	}

	h5 {
		margin-bottom: .25rem;
		font-family: $brandtypeface;
		@include font-size($fontsize300);
		line-height: 3rem;
		color: $black700;
		text-transform: uppercase;
		position: relative;

		&:before {
			display: block;
			content: '';
			width: 2rem;
			height: .25rem;
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	.story {
		border-bottom: 0;
		margin-bottom: .5rem;
	}

	.story-heading {
		margin-right: .25rem;
		@include font-size($fontsize300);
		line-height: 1.15rem;
	}

	.story-media {
		width: 4rem;
		float: left;
		margin-right: .5rem;
	}

	.timestamp {
		padding-left: .375rem;
		white-space: nowrap;
	}
}

/* ==========================================================================
  Cards
  ========================================================================== */

@import "modules/cards";

/* ==========================================================================
  Story
  ========================================================================== */

@import "modules/story";


/* ==========================================================================
  Meta
  ========================================================================== */

.meta-byline,
.meta-social {
	margin-bottom: $baseline;
	@include clearfix;
}

// Meta Social ===============================================================

.meta-social {

	.social-item {
		display: inline;
		list-style: none;
		margin: 0 0 0 0;
		padding: 0;
	}

	.social-item .icon {
		width: 32px;
		height: 32px;
	}

	&.bottom-social {
		float: none;
		width: 100%;
	}

	.social-counter {
		width: 25%;
		display: block;
		float: left;
		text-align: right;

		@include bp(m) {
			width: 24%;
			margin-left: $baseline * 2;
			text-align: left;
		}

		@include bp(xl) {
			width: 100%;
			float: none;
			margin: 0 0 $baseline * 2 0;
		}

		.number {
			font-family: $headingstypeface;
			font-weight: 700;
			@include font-size($fontsize500);
			line-height: 2rem;
			color: $bluegrey700;
			vertical-align: middle;

			@include bp(m) {
				display: block;
				@include font-size($fontsize600);
			}

			@include bp(xl) {
				@include font-size($fontsize800);

			}
		}

		.counter-label {
			display: none;
			@include font-size($fontsize100);
			color: $bluegrey700;

			@include bp(m) {
				display: inline-block;
			}
		}

		.icon {
			width: 12px;
			height: 12px;
			fill: $bluegrey600;
		}
	}
}

// Entry Meta

.entry-meta .meta-social {

	@include bp(m) {
		width: 50%;
		float: right;
	}

	@include bp(xl) {
		width: 100%;
		float: none;
	}

	.social-items {
		float: left;
		width: 50%;

		@include bp(m) {
			width: 42%;
			line-height: 3rem;
			text-align: right;
		}

		@include bp(xl) {
			float: none;
			width: 100%;
			margin-bottom: $baseline;
			text-align: left;
		}
	}
}

// Meta Byline ===============================================================

.meta-byline {
	padding-bottom: $baseline;
	border-bottom: 1px solid $bordercolor;

	@include bp(m) {
		width: 50%;
		float: left;
		padding-bottom: 0;
		border-bottom: 0;
	}

	@include bp(xl) {
		width: 100%;
		float: none;
		padding-bottom: $baseline;
		border-bottom: 1px solid $bordercolor;
	}

	.author {
		@include bp(xl) {
			margin-bottom: $baseline;
		}
	}

	.author-name,
	.author-role,
	.entry-timestamp {
		@include font-size($fontsize200);
	}

	.author-photo {
		float: left;
		margin: 0 $baseline 0 0;
		width: $baseline * 6; 

		@include bp(xl) {
			float: none;
			margin: 0;
		}
	}

	.author-name {
		display: inline-block;
		@include font-size($fontsize200);
		line-height: 1.5rem;
		font-weight: 700;
		color: $black900;

		@include bp(xl) {
			display: block;
		}
	}

	.author-role {
		color: $black800;
		font-style: italic;

		@include bp(m) {
			margin-bottom: $baseline / 2;
		}

		@include max-bp(m) {
			padding-left: $baseline / 2;
		}
	}

	.author-twitter {
		display: none;

		& > .icon {
			margin: 0 5px;
			width: 14px;
			height: 14px;
			fill: lightblue;
		}
	}
}

/* ==========================================================================
  Site Search
  ========================================================================== */

// Start search ===============================================================

.start-search {
	position: absolute;
	top: 0;
	width: 100%;
	left: 0;
	z-index: 999;
	opacity: 0;
	visibility: hidden;
	@include transition(opacity .25s 0s, visibility 0s .25s);

	@include bp(l) {
		top: 4.5rem;
	}
	
	&.is-visible {
		opacity: 1;
		visibility: visible;
		@include transition(opacity .25s 0s, visibility 0s 0s);
	}

	form {
		height: 100%;
		width: 100%;
	}

	label {
		opacity: 0;
	}

	input[type="search"] {
		border-radius: 0;
		border: none;
		background: transparent;
		width: 75%;
		@include appearance(none);
		padding: 1rem;
		@include font-size($fontsize500);
		font-weight: 300;
		line-height: 2.5rem;
		color: white;
		vertical-align: middle;

		@include bp(m) {
			width: 92%;
			padding: 2rem;
			@include font-size($fontsize800);
			letter-spacing: -1px;
		}

		@include bp(l) {
			width: 92%;
		}
	}
	
	input[type="search"]::-webkit-input-placeholder,
	input[type="search"]::-moz-placeholder,
	input[type="search"]:-ms-input-placeholder {
		color: $black500;
	}
	
	input[type="search"]:focus {
		outline: none;
	}

	.btn {
		position: absolute;	
		top: .75rem;
		right: 1rem;
		background: transparent;

		@include bp(m){
			top: 1.5rem;
		}

		@include bp(l) {
			&:hover {
				background-color: $black1000;
			}
		}

		&:active {
			box-shadow: none;
		}

		.icon {
			fill: white;
			width: 24px;
			height: 24px;

			@include bp(m) {
				width: 32px;
				height: 32px
			}
		}
	}
}

.search-overlay {
	/* shadow layer visible when navigation is active */
	position: absolute;
	z-index: 999;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: $focusoverlay;
	visibility: hidden;
	opacity: 0;
	@include backface-visibility(hidden);
	@include transition(opacity .25s 0s, visibility 0s .25s, transform .25s 0s);

	@include bp(l) {
		top: 4.5rem;
	}
		
	&.is-visible {
		opacity: 1;
		visibility: visible;
		@include transition(opacity .25s 0s, visibility 0s 0s, transform .25s 0s);
		
		.search-is-visible {
			@include transform(translateX(0));
		}	
	}
}

// Start Search button located in Header ===============================================================

.start-search-trigger {
	position: relative;
	width: 4rem;
	height: 4rem;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	color: transparent; /* hide text */

	@include bp(l) {
		width: 4.5rem;
		height: 4.5rem;
		background-color: white;	
	}

	&::before, &::after {
		/* search icon */
		content: '';
		position: absolute;
		@include transition(opacity .3s);
		/* Force Hardware Acceleration in WebKit */
		@include transform(translateZ(0));
		@include backface-visibility(hidden);
	}

	&::before {
		/* lens */
		top: 23px;
		left: 22px;
		width: 18px;
		height: 18px;
		border-radius: 50%;
		border: 3px solid $black500;
		@include transition(border-color .2s);

		@include bp(l) {
			top: 25px;
			left: 26px;
		}
	}

	&::after {
		/* handle */
		height: 3px;
		width: 8px;
		background: $black500;
		bottom: 21px;
		right: 19px;
		@include transform(rotate(45deg));
		@include transition(background .2s);

		@include bp(l) {
			bottom: 27px;
			right: 23px;
		}
	}

	&:hover {
		&:before {
			border-color: $black600;
		}
		&:after {
			background: $black600;
		}
	}

	span {
		/* container for the X icon */
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
	}

	span::before, span::after {
		/* close icon */
		content: '';
		position: absolute;
		display: inline-block;
		height: 3px;
		width: 22px;
		top: 50%;
		margin-top: -2px;
		left: 50%;
		margin-left: -11px;
		background: $black600;
		opacity: 0;
		/* Force Hardware Acceleration in WebKit */
		@include transform(translateZ(0));
		@include backface-visibility(hidden);
		@include transition(opacity .3s, transform .3s);
	}

	span::before {
		@include transform(rotate(45deg));
	}

	span::after {
		@include transform(rotate(-45deg));
	}

	&.search-is-visible {
		@include transition(background-color .2s);
		background-color: $focusoverlay;

		&::before, &::after {
			/* hide search icon */
			opacity: 0;
		}

		span::before, span::after {
			/* show close icon */
			opacity: 1;
			background: white;
		}

		span::before {
			@include transform(rotate(135deg));
		}

		span::after {
			@include transform(rotate(45deg));
		}
	}
}

// Search section with results ===============================================================

.search-section {

	@include bp(l) {
		margin-top: 1.5rem;
	}
	
	.search-form {
		width: 100%;
		float: left;
		margin-bottom: 2rem;
		padding-bottom: 1rem;
		border-bottom: 3px solid $bordercolor;


		.search-input {
			width: 100%;

			> h3 {
				display: block;
				margin: 0 .5rem 0 0;
				vertical-align: middle;

				@include bp(m) {
					display: inline-block;
				}
			}

			input[type="search"] {
				display: inline-block;
				width: auto;
				margin-bottom: .5rem;
				vertical-align: top;

				@include bp(m) {	
					margin-bottom: 1rem;	
				}

				@include bp(l) {
					margin-right: .5rem;	
					width: 22rem;	
				}
			}
		}

		.search-filters {
			width: 100%;

			label {
				display: block;

				@include bp(m) {
					display: inline-block;
				}
			}

			.dropdown {
				display: inline-block;
			}
		}
	}
	
	.search-results-info {
		margin-bottom: 1rem;
		padding-top: 1rem;
		border-top: 1px solid $bordercolor;
		color: $black800;

		> strong {
			color: $black1000;
		}

		@include bp(l) {
			@include font-size($fontsize500);
		}
	}

	.type-filter,
	.sort-filter {
		display: inline-block;
		margin-right: 3rem;
	}

	.sort-filter {
		@include max-bp(m) {
			display: none;
		}
	}

	.result-item {
		margin-bottom: 2rem;

		.list-story {
			padding-bottom: .5rem;
			border-bottom-width: 3px;

			.story-heading strong {
				color: $bluegrey500;
			}

			.story-summary,
			.story-footer {
				display: block;
			}

			.story-summary {
				display: block;
				@include font-size($fontsize200);
			}

			.story-footer .byline {
				border-top: 1px solid $bordercolor;
				padding-top: 1rem;
				line-height: 1rem;
				@include font-size($fontsize100);
				font-weight: 700;
			}
		}
	}

	.search-results {
		width: 100%;
	}
}

/* ==========================================================================
  Tags
  ========================================================================== */

.tags-list {
	margin: $baseline * 2 0;

	@include bp(m) {
		margin: $baseline * 3 0;
	}

	@include bp(xl) {
		margin: $baseline * 4 0;
	}
}


/* To Fix */

.back-top {
	clear: left;
	padding: 10px 0;
	border-top: 1px solid #ccc;
	@include bp(l) {
		display: none;
	}
}

.bottom-nav {
	border-top: 1px solid #ccc;
	@include bp(l) {
		display: none;
	}
}

.bottom-nav ul {
	padding: 0;
	width: 50%;
	float: left;

	& li {
		margin-bottom: 10px;
	}

	& a {
		@include font-size(12);
	}

}
