/* ==========================================================================
  SLOTS
  ========================================================================== */

.slots,
.slot {
	width: 100%;
}

.slots {
	padding: $baseline;
	background: $black200;

	@include max-bp(s) {
		margin-bottom: $baseline;
	}
}

.slot {
	margin: 1rem;
}


// Slot Sizes ===============================================================

.medium-slot {
	margin-right: auto;
	margin-left: auto;
	width: 300px;
}

.half-slot {
	margin: 0 auto;
	width: 300px;
	height: 600px;
}

// Slot Templates ===============================================================

.slots-headlines,
.entry-aside-slots {
	margin: 0;
}

.slots-headlines {
	@include flexbox;
	margin-top: 1rem;

	@include bp(l) {
		margin-top: 0;
	}

	.l-list {
		margin: 0 auto;
	}
}

.slots-headlines {
	.l-list,
	.l-list-item {
		
		@include flex-flow(row nowrap);

		@include bp(l) {
			@include flex-flow(column nowrap);
		}
	}
}

.entry-inner-slots {
	display: none;
	width: auto;

	@include bp(m) {
		display: block;
		float: right;
		clear: right;
		padding: $baseline * 2;
		margin: 0 0 $baseline * 3 $baseline * 3 ;
	}

	@include bp(l) {
		display: none;
	}

	@include bp(xl) {
		display: none;
	}
}

.entry-aside-slots {
	display: none;
	float: right;
	clear: right;
	width: 20rem;

	@include bp(l) {
		display: block;
	}
}