/* ==========================================================================
  THEME COLORS
  ========================================================================== */

/* ==========================================================================
   Global Styles
   ========================================================================== */

// Accent Colors ===============================================================

.accent-color-pink,
.accent-color-pink .link {
	color: $accentpink;
}

.accent-color-mint,
.accent-color-mint .link {
	color: $accentmint;
}

// Header styles common for all themes ==========================================

.theme-yellow,
.theme-red,
.theme-blue,
.theme-green,
.theme-purple,
.theme-pink {

	.nav-btn {
		.btn-label {
			color: $black900;
		}

		.icon {
			fill: $black900;
		}
	}

	.logo-edition {
		fill: white;
	}

	.logo-network {
		fill: lighten($black1000, 10%);
	}

	.inverted  {
		.theme-header {
			background-color: $black1000;
		}
		.logo-network {
			fill: white;
		}	
	}
}

/* ==========================================================================
  Theme Yellow
  ========================================================================== */

.theme-yellow {

	.theme-element-bg {
		&:before {
			background-color: $b-c-yellow;
		}
	}

	.theme-background {
		background-color: $b-c-yellow;
	}

	.theme-border {
		border-color: $b-c-yellow;
	}

	.theme-color,
	.theme-color .link {
		color: $b-c-yellow;

		&.label,
		&.kicker {
			color: darken($b-c-yellow, 6%);
		}
	}

	.theme-fill {
		fill: $b-c-yellow;
	}

	.theme-header {
		background-color: $b-c-yellow;

		@include bp(l) {
			background-color: white;

			.logo-edition {
				fill: $b-c-yellow;
			}
		}
	}

	.inverted .theme-header .logo-edition {
		fill: $b-c-yellow;
	}

	.expand-image:hover .rounded-icon {
		background-color: $b-c-yellow;
	}
}

/* ==========================================================================
  Theme Red
  ========================================================================== */

.theme-red {

	.theme-background {
		background-color: $b-c-red;
	}

	.theme-border {
		border-color: $b-c-red;
	}

	.theme,
	.theme-color .link {
		color: $b-c-red;
	}

	.theme-fill {
		fill: $b-c-red;
	}

	.theme-header {
		background-color: $b-c-red;

		@include bp(l) {
			background-color: white;
			.logo-edition {
				fill: $b-c-red;
			}
		}
	}

	.inverted .theme-header .logo-edition {
		fill: $b-c-red;
	}

	.expand-image:hover .rounded-icon {
		background-color: $b-c-red;
	}
}

/* ==========================================================================
  Theme Blue
  ========================================================================== */

.theme-blue {

	.theme-background {
		background-color: $b-c-blue;
	}

	.theme-border {
		border-color: $b-c-blue;
	}

	.theme-color,
	.theme-color .link {
		color: $b-c-blue;
	}

	.theme-fill {
		fill: $b-c-blue;
	}

	.theme-header {
		background-color: $b-c-blue;

		@include bp(l) {
			background-color: white;
			.logo-edition {
				fill: $b-c-blue;
			}
		}
	}

	.inverted .theme-header .logo-edition {
		fill: $b-c-blue;
	}

	.expand-image:hover .rounded-icon {
		background-color: $b-c-blue;
	}
}

/* ==========================================================================
  Theme Green
  ========================================================================== */

.theme-green {

	.theme-background {
		background-color: $b-c-green;
	}

	.theme-border {
		border-color: $b-c-green;
	}

	.theme-color,
	.theme-color .link {
		color: $b-c-green;
	}

	.theme-fill {
		fill: $b-c-green;
	}

	.theme-header {
		background-color: $b-c-green;

		@include bp(l) {
			background-color: white;
			.logo-edition {
				fill: $b-c-green;
			}
		}
	}

	.inverted .theme-header .logo-edition {
		fill: $b-c-green;
	}

	.expand-image:hover .rounded-icon {
		background-color: $b-c-green;
	}
}

/* ==========================================================================
  Theme Purple
  ========================================================================== */

.theme-purple {

	.theme-background {
		background-color: $b-c-purple;
	}

	.theme-border {
		border-color: $b-c-purple;
	}

	.theme-color,
	.theme-color .link {	
		color: $b-c-purple;
	}

	.theme-fill {
		fill: $b-c-purple;
	}

	.theme-header {
		background-color: $b-c-purple;

		@include bp(l) {
			background-color: white;
			.logo-edition {
				fill: $b-c-purple;
			}
		}
	}

	.inverted .theme-header .logo-edition {
		fill: $b-c-purple;
	}

	.expand-image:hover .rounded-icon {
		background-color: $b-c-purple;
	}
}

/* ==========================================================================
  Theme Pink
  ========================================================================== */

.theme-pink {

	.theme-background {
		background-color: $b-c-pink;
	}

	.theme-border {
		border-color: $b-c-pink;
	}

	.theme-color,
	.theme-color .link {
		color: $b-c-pink;
	}

	.theme-fill {
		fill: $b-c-pink;
	}

	.theme-header {
		background-color: $b-c-pink;

		@include bp(l) {
			background-color: white;
			.logo-edition {
				fill: $b-c-pink;
			}
		}
	}

	.inverted .theme-header .logo-edition {
		fill: $b-c-pink;
	}

	.expand-image:hover .rounded-icon {
		background-color: $b-c-pink;
	}
}


