/* ==========================================================================
  THEME COLORS
  ========================================================================== */

/* ==========================================================================
   Global Styles
   ========================================================================== */

// Accent Colors ===============================================================

.accent-color-pink,
.accent-color-pink .link {
	color: $accentpink;
}

.accent-color-mint,
.accent-color-mint .link {
	color: $accentmint;
}

.mint-background-color {
	background-color: $accentmint;
}

.mint-fill {
	fill: $accentmint;
}

// Theme Colors for hover on block links ===============================================================


@include bp(l) {
	.theme-yellow .focus-cover .story-heading .link:hover  {
		color: $b-c-yellow;
	}
	.theme-blue .focus-cover .story-heading .link:hover  {
		color: $b-c-blue;
	}
	.theme-red .focus-cover .story-heading .link:hover  {
		color: $b-c-red;
	}
	.theme-green .focus-cover .story-heading .link:hover  {
		color: $b-c-green;
	}
	.theme-pink .focus-cover .story-heading .link:hover  {
		color: $b-c-pink;
	}
	.theme-purple .focus-cover .story-heading .link:hover  {
		color: $b-c-pink;
	}
}

/* ==========================================================================
   Theme Inverted
   ========================================================================== */

.theme-inverted .main-content,
.inverted {
	background-color: $bluegrey1000;
}

.theme-inverted {

	// Global Styles

	.main-content {
		a, a:link, .link {
			color: $bluegrey400;

			&:hover {
				color: white;
			}
		}

		h1,	h2,	h3,	h4,	h5,	h6 {
			color: white;
		}

		p,
		.entry-content-body > p,
		.social-counter .number,
		.author-role {
			color: white;
		}

		.timestamp,
		.datestamp,
		.social-counter .counter-label {
			color: $bluegrey600;
		}	
	}

	// Secondary Nav

	.secondary-nav {
		.nav-item {
			&.current {
				box-shadow: inset 0 -0.35rem 0 $bluegrey1000;
			}
		}
	}

	.entry-meta,
	.meta-byline {
		border-color: $bluegrey800;
	}

	.slots {
		border-color: $bluegrey900;
		background-color: $bluegrey900;
	}
}

/* ==========================================================================
   Brand Themes
   ========================================================================== */

// Header styles common for all themes ==========================================

.theme-yellow,
.theme-red,
.theme-blue,
.theme-green,
.theme-purple,
.theme-pink {

	.nav-btn {
		.btn-label {
			color: $black900;
		}

		.icon {
			fill: $black900;
		}
	}

	.logo-edition {
		fill: white;
	}

	.logo-network {
		fill: lighten($black1000, 10%);
	}
}

/* ==========================================================================
  Theme Yellow
  ========================================================================== */

.theme-yellow {

	.theme-element-bg {
		&:before {
			background-color: $b-c-yellow;
		}
	}

	.theme-background {
		background-color: $b-c-yellow;
	}

	.theme-border {
		border-color: $b-c-yellow;
	}

	.theme-color,
	.theme-color .link {
		color: $b-c-yellow;

		&.label,
		&.kicker {
			color: darken($b-c-yellow, 6%);
		}
	}

	.theme-fill {
		fill: $b-c-yellow;
	}

	.theme-header {
		background-color: $b-c-yellow;

		@include bp(l) {
			background-color: white;

			.logo-edition {
				fill: $b-c-yellow;
			}
		}
	}

	.expand-image:hover .rounded-icon {
		background-color: $b-c-yellow;
	}

	.site-footer {
		.logo-edition {
			fill: $b-c-yellow;
		}
	}
}

.theme-yellow .inverted .story-heading .link:hover,
.theme-yellow .inverted .block-link:hover,
.theme-yellow .inverted .block-link:hover .story-heading,
.theme-yellow .theme-inverted .block-link:hover .story-heading {
	color: $b-c-yellow;
}

.theme-yellow .alph-item.current .link,
.theme-yellow .alph-item.current .link:hover {
	color: $b-c-yellow;

	@include bp(m) {
		background-color: $b-c-yellow;
		color: white;
	}
}

/* ==========================================================================
  Theme Red
  ========================================================================== */

.theme-red {

	.theme-background {
		background-color: $b-c-red;
	}

	.theme-border {
		border-color: $b-c-red;
	}

	.theme,
	.theme-color .link {
		color: $b-c-red;
	}

	.theme-fill {
		fill: $b-c-red;
	}

	.theme-header {
		background-color: $b-c-red;

		@include bp(l) {
			background-color: white;
			.logo-edition {
				fill: $b-c-red;
			}
		}
	}

	.expand-image:hover .rounded-icon {
		background-color: $b-c-red;
	}

	.site-footer {
		.logo-edition {
			fill: $b-c-red;
		}
	}
}

.theme-red .inverted .story-heading .link:hover,
.theme-red .inverted .block-link:hover,
.theme-red .inverted .block-link:hover .story-heading,
.theme-red .theme-inverted .block-link:hover .story-heading {
	color: $b-c-red;
}

.theme-red .alph-item.current .link {
	color: $b-c-red;

	@include bp(m) {
		background-color: $b-c-red;
		color: white;
	}
}

/* ==========================================================================
  Theme Blue
  ========================================================================== */

.theme-blue {

	.theme-background {
		background-color: $b-c-blue;
	}

	.theme-border {
		border-color: $b-c-blue;
	}

	.theme-color,
	.theme-color .link {
		color: $b-c-blue;
	}

	.theme-fill {
		fill: $b-c-blue;
	}

	.theme-header {
		background-color: $b-c-blue;

		@include bp(l) {
			background-color: white;
			.logo-edition {
				fill: $b-c-blue;
			}
		}
	}

	.expand-image:hover .rounded-icon {
		background-color: $b-c-blue;
	}

	.site-footer {
		.logo-edition {
			fill: $b-c-blue;
		}
	}
}

.theme-blue .inverted .story-heading .link:hover,
.theme-blue .inverted .block-link:hover,
.theme-blue .inverted .block-link:hover .story-heading,
.theme-blue .theme-inverted .block-link:hover .story-heading {
	color: $b-c-blue;
}

.theme-blue .alph-item.current .link {
	color: $b-c-blue;

	@include bp(m) {
		background-color: $b-c-blue;
		color: white;
	}
}

/* ==========================================================================
  Theme Green
  ========================================================================== */

.theme-green {

	.theme-background {
		background-color: $b-c-green;
	}

	.theme-border {
		border-color: $b-c-green;
	}

	.theme-color,
	.theme-color .link {
		color: $b-c-green;
	}

	.theme-fill {
		fill: $b-c-green;
	}

	.theme-header {
		background-color: $b-c-green;

		@include bp(l) {
			background-color: white;
			.logo-edition {
				fill: $b-c-green;
			}
		}
	}

	.expand-image:hover .rounded-icon {
		background-color: $b-c-green;
	}

	.site-footer {
		.logo-edition {
			fill: $b-c-green;
		}
	}
}

.theme-green .inverted .story-heading .link:hover,
.theme-green .inverted .block-link:hover,
.theme-green .inverted .block-link:hover .story-heading,
.theme-green .theme-inverted .block-link:hover .story-heading {
	color: $b-c-green;
}

.theme-green .alph-item.current .link {
	color: $b-c-green;

	@include bp(m) {
		background-color: $b-c-green;
		color: white;
	}
}

/* ==========================================================================
  Theme Purple
  ========================================================================== */

.theme-purple {

	.theme-background {
		background-color: $b-c-purple;
	}

	.theme-border {
		border-color: $b-c-purple;
	}

	.theme-color,
	.theme-color .link {	
		color: $b-c-purple;
	}

	.theme-fill {
		fill: $b-c-purple;
	}

	.theme-header {
		background-color: $b-c-purple;

		@include bp(l) {
			background-color: white;
			.logo-edition {
				fill: $b-c-purple;
			}
		}
	}

	.expand-image:hover .rounded-icon {
		background-color: $b-c-purple;
	}

	.site-footer {
		.logo-edition {
			fill: $b-c-purple;
		}
	}
}

.theme-purple .inverted .story-heading .link:hover,
.theme-purple .inverted .block-link:hover,
.theme-purple .inverted .block-link:hover .story-heading,
.theme-purple .theme-inverted .block-link:hover .story-heading {
	color: $b-c-purple;
}

.theme-purple .alph-item.current .link,
.theme-purple .alph-item.current .link:hover {
	color: $b-c-purple;

	@include bp(m) {
		background-color: $b-c-purple;
		color: white;
	}
}

/* ==========================================================================
  Theme Pink
  ========================================================================== */

.theme-pink {

	.theme-background {
		background-color: $b-c-pink;
	}

	.theme-border {
		border-color: $b-c-pink;
	}

	.theme-color,
	.theme-color .link {
		color: $b-c-pink;
	}

	.theme-fill {
		fill: $b-c-pink;
	}

	.theme-header {
		background-color: $b-c-pink;

		@include bp(l) {
			background-color: white;
			.logo-edition {
				fill: $b-c-pink;
			}
		}
	}

	.expand-image:hover .rounded-icon {
		background-color: $b-c-pink;
	}

	.site-footer {
		.logo-edition {
			fill: $b-c-pink;
		}
	}
}

.theme-pink .inverted .story-heading .link:hover,
.theme-pink .inverted .block-link:hover,
.theme-pink .inverted .block-link:hover .story-heading,
.theme-pink .theme-inverted .block-link:hover .story-heading {
	color: $b-c-pink;
}

.theme-pink .alph-item.current .link
.theme-pink .alph-item.current .link:hover {
	color: $b-c-pink;

	@include bp(m) {
		background-color: $b-c-pink;
		color: white;
	}
}

/* ==========================================================================
   Photoswipe Theme
   ========================================================================== */

.pswp__bg {
	background-color: $bluegrey1000;
}


