/* ==========================================================================
   TYPOGRAPHY
   ========================================================================== */
 
// Font Face ===============================================================

@import "fontface";

/* ==========================================================================
   Global Styles
   ========================================================================== */

html {
	font-size: 100%;
	text-rendering: optimizeLegibility;
}
 
body {
 	font-family: $alttexttypeface;
	font-weight: $basetextweight;
	color: $black900;
}

h1, h2, h3, h4, h5, h6 {
	font-style: normal;
	margin-bottom: $baseline * 2;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $headingstypeface;
}

h3, h4, h5, h6 {
	font-weight: $baseheadingweight;
}

h1 {
	@include font-size($fontsize700);
	line-height: 2rem;

	@include bp(m) {
		@include font-size($fontsize800);
		line-height: 2.5rem;
	}

	@include bp(l) {
		@include font-size($fontsize900);
	}
}

h2 {
	@include font-size($fontsize500);
	line-height: 1.5rem;

	@include bp(m) {
		@include font-size($fontsize600);
		line-height: 2rem;
	}

	@include bp(l) {
		@include font-size($fontsize700);
		line-height: 2rem;
	}
}

h3 {
	@include font-size($fontsize500);
	line-height: 1.5rem;

	@include bp(l) {
		@include font-size($fontsize600);
		line-height: 2rem;
	}
}

h4 {
	@include font-size($fontsize300);
	line-height: 1.15rem;

	@include bp(m) {
		@include font-size($fontsize400);
		line-height: 1.5rem;
	}
}

h5 {
	@include font-size($fontsize200);
	line-height: 1rem;

	@include bp(xl) {
		@include font-size($fontsize300);
		line-height: 1.15rem;
	}
}

h6 {
	@include font-size($fontsize100);
	line-height: 1rem;

	@include bp(m) {
		@include font-size($fontsize200);
	}
}

p,
ol,
ul,
dl,
address {
	font-family: $alttexttypeface;
}

p,
ol,
ul,
dl,
address {
	margin-top: 0;
	margin-bottom: $baseline;
	@include font-size($basefontsize);
	line-height: $baselineheight;
}

ol,
ul,
dl {
	list-style-position: inside;
}

strong, 
dt {
	font-weight: 700;
}

blockquote {
	margin: 1rem 0;

	@include bp(l) {
		margin: 1.5rem 0;
	}

	@include bp(xl) {
		float: left;
		width: 20rem;
		margin: $baseline 1.5rem 1.5rem -13rem;
	}

	p {
		padding-left: .75rem;
		border-left: .25rem solid $bluegrey200;
		font-family: $texttypeface;
		font-style: italic;
		font-weight: 400;

		@include bp(m) {
			padding-left: 1.5rem;
		}
	}
}

/* ==========================================================================
   Story Headings Sizes
   ========================================================================== */

.heading-xs {
	@include font-size($fontsize200);
	line-height: 1rem;
}

.heading-sm {
	@include font-size($fontsize300);
	line-height: 1.25rem;

	@include bp(s) {
		@include font-size($fontsize400);
		line-height: 1.5rem;
	}
}

.heading-md {
	@include font-size($fontsize300);
	line-height: 1.25rem;
	font-weight: $baseheadingweight;

	@include bp(m) {
		@include font-size($fontsize500);
		line-height: 1.5rem;
	}

	@include bp(l) {
		@include font-size($fontsize600);
		line-height: 1.75rem;
	}
}

.heading-std {
	@include font-size($fontsize300);
	line-height: 1.25rem;
	font-weight: $baseheadingweight;

	@include bp(m) {
		@include font-size($fontsize400);
		line-height: 1.5rem;
	}

	@include bp(l) {
		@include font-size($fontsize500);
	}
}

.heading-lg {
	@include font-size($fontsize600);
	line-height: 1.75rem;

	@include bp(m) {
		@include font-size($fontsize800);
		line-height: 2.25rem;
	}

	@include bp(l) {
		@include font-size($fontsize900);
	}
}

.heading-xl {
	@include font-size($fontsize600);
	line-height: 1.75rem;

	@include bp(m) {
		@include font-size($fontsize800);
		line-height: 2.5rem;
	}

	@include bp(l) {
		@include font-size($fontsize900);
	}

	@include bp(xl) {
		@include font-size($fontsize1000);
		line-height: 3.5rem;
	}
}

.serif-heading,
.reportage-heading  {
	font-family: $titleseriftypeface;
	font-weight: normal;
}

.reportage-heading {
	@include font-size($fontsize300);
	line-height: 1.25rem;

	@include bp(m) {
		@include font-size($fontsize500);
		line-height: 1.5rem;
	}

	@include bp(xl) {
		@include font-size($fontsize800);
		line-height: 2.5rem;
	}
}

/* ==========================================================================
   Text Elements
   ========================================================================== */

// Title =====================================================================

.bordered-title {
	margin-bottom: 1rem;
	padding: .5rem .5rem .75rem;
	border-bottom: 1px solid $bordercolor;
}

// Module heading title

.module-title {
	display: block;
	margin-bottom: $baseline;
	padding: $baseline 0;
	border-bottom: 1px solid $bordercolor;
	@include font-size($fontsize500);
	line-height: 2rem;
	font-family: $titleseriftypeface;
	font-weight: normal;
	color: $black900;

	@include bp(xl) {
		@include font-size($fontsize600);
	}

	& > span {
		display: block;
		font-family: $texttypeface;
		@include font-size($fontsize300);
		line-height: 1rem;
		font-weight: 400;
		color: $black700;
	}
}

// Page title

.page-title {
	display: inline-block;
	font-family: $titleseriftypeface;
	@include font-size($fontsize400);
	line-height: 1.5rem;
	font-weight: normal;

	@include bp(m) {
		@include font-size($fontsize800);
		line-height: 2.5rem;
	}

}

.page-title,
.page-title .link {
	color: $black900;

	&:hover {
		text-decoration: none;
	}
}

// Section title

.section-title {
	margin-bottom: 0 !important;
	position: relative;
	padding: $baseline 0;
	border-top-width: 2px;
	border-top-style: solid;
	border-bottom: 0 !important;

	@include bp(l) {
		padding: .75rem 0 !important;
	}
}

.section-heading {
	margin: 0;
	font-family: $titleseriftypeface;
	@include font-size($fontsize400);
	font-weight: normal;

	&,
	.link {
		color: $bluegrey700;

	.link:hover {
			color: $bluegrey800;
		}
	}	

	@include bp(m) {
		@include font-size($fontsize500);
	}

	@include bp(xl) {
		@include font-size($fontsize600);
	}
}

// Entry title

.entry-title {
	margin-bottom: $baseline;
	color: $black1000;

	@include bp(m) {
		@include font-size($fontsize1000);
		line-height: 3.5rem;
	}
}

.heading-divider {
	color: $black500;
}

// Inline Text =====================================================================

.text-sm {
  font-size: 75%;
  line-height: 1rem;
}

.text-lg {
  font-size: 125%;
  line-height: 1.5rem;
}

.middot {
	color: $black600;
	margin: 0 2px;
}

// Numbers

.number {
	font-family: $headingstypeface;
	@include font-size($fontsize600);
	font-weight: 900;
	color: $bluegrey500;
}

// Summary

.summary {
	color: $black800;
}

.inverted .summary {
	color: $black500;
}

.entry-summary {
	margin-bottom: 0;

	@include bp(m) {
		@include font-size($fontsize600);
		line-height: 2rem;
	}
}

// Byline

.byline {
	color: $black700;
	margin-bottom: 0;
	line-height: .875rem;
}

// Label

.label {
	display: inline-block;
	font-family: $brandtypeface;
	@include font-size($fontsize100);
	line-height: .75rem;
	color: $black600;
	text-transform: uppercase;

	@include bp(m) {
		@include font-size($fontsize200);
		line-height: .875rem;
	}
}

	.entry-label {
		@include font-size($fontsize200);
		color: $black700;

		@include bp(l) {
			@include font-size($fontsize300);
		}

		@include bp(xl) {
			display: block;
		}

		&.category-label {
			font-family: $titleseriftypeface;

			@include bp(l) {
				@include font-size($fontsize500);
			}
		}
	}

.location-label {
	font-family: $alttexttypeface;
	@include font-size($fontsize100);
	font-weight: 700;

	> .link {
		color: $bluegrey500;

		&:hover {
			color: $bluegrey600;
		}
	}
}

// Kicker

.kicker {
	color: $bluegrey500;
	@include font-size($fontsize200);
	font-family: $texttypeface;
	font-style: italic;
	font-weight: 700;
}

.highlight-kicker {
	display: inline-block;
	font-family: $headingstypeface;
	@include font-size($fontsize300);

	@include bp(m) {
		margin-bottom: $baseline;
	}

	@include bp(l) {
		@include font-size($fontsize500);
	}

	&:before {
		content: '';
		display: block;
		width: 2rem;
		height: .15rem;
		margin-bottom: $baseline / 2; 

		@include bp(m) {
			width: 3rem;
		}
	}
}

// Caption

.caption {
	padding: .5rem 0;
	@include font-size($fontsize100);
	color: $black700;

	.icon.inline-icon {
		vertical-align: text-bottom;
	}
}


// Links ===============================================================

.link {
	@include transition(color .3s);
}

.entry-content-body > p > a {
	text-decoration: none !important;
	border-bottom: 0.0625rem solid $bordercolor;
	@include transition(border .2s ease-out);

	&:hover {
		border-bottom-color: darken($bordercolor, 15%);
	}
}

.link,
.link:hover .story-heading,
.block-link:hover {
	text-decoration: none;
}

.inverted .link,
.inverted .story-heading .link,
.inverted .block-link .story-heading {
	color: white;
}

.story-heading .link,
.block-link .story-heading,
.block-link .card-heading {
	color: $black900;
}

.story-heading .link:hover,
.block-link:hover .story-heading,
.block-link:hover .card-heading {
	color: $black1000;
}

.story-subheading .link:hover,
.preview-gallery-heading .link:hover {
	color: $bluegrey600;
}

.sublink .link,
.entry-label .link {
	color: $black800;

	&:hover {
		color: $black900;
	}	
}

// Timestamp & Meteo ===============================================================

time {
	color: $black600;
}

.timestamp {
	font-family: $alttexttypeface;
	@include font-size($fontsize100);
}

.datestamp {
	@include font-size($fontsize300);
	line-height: 1.1rem;
	font-family: $brandtypeface;
	font-weight: 500;
	text-transform: lowercase;
}

.site-date,
.site-meteo {
	display: inline-block;
	margin-right: $gutterwidth;
	color: $black700;
	font-family: $headingstypeface;
	@include font-size($fontsize100);
}

.site-meteo {
	vertical-align: middle;
	text-decoration: none;

	span {
		color: $black700;
	}
}

.site-date {
	line-height: 24px;
}

.edition {
	color: $black500;
	@include font-size($fontsize200);
}

.list-count {
	color: $black500;
	@include font-size(32);
	line-height: 1em;
}

// Users & Authors ===================================================

.author-name,
.author-role {
	@include font-size($fontsize200);
}

.author-name {
	font-weight: 700;
	line-height: 1.15rem;
	color: $black900;
}

.author-role {
	font-family: $texttypeface;
}

// Tags ===============================================================

.tag-item {
	font-family: $headingstypeface;
	font-weight: 700;
	@include font-size($fontsize200);

	@include bp(m) {
		@include font-size($fontsize300);
	}

	strong {
		color: $black700;
		margin-right: 4px;
	}

	.btn {
		padding: 0.2rem 0.6rem;
		color: $bluegrey600;
	}
}
