/* ==========================================================================
   Typography
   ========================================================================== */
 
// Font Face ===============================================================

@import "fontface";

// Global Styles ===============================================================

html {
	font-size: 100%;
}
 
body {
 	font-family: $texttypeface;
	font-weight: $basetextweight;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $headingstypeface;
	font-style: normal;
	margin-bottom: $baseline * 2;
}

h1, h2 {
	font-weight: $bigheadingeweight;
}

h3, h4, h5, h6 {
	font-weight: $baseheadingweight;
}

h1 {
	@include font-size($fontsize700);
	line-height: 2rem;

	@include bp(m) {
		@include font-size($fontsize800);
		line-height: 2.5rem;
	}

	@include bp(l) {
		@include font-size($fontsize900);
	}

	@include bp(xl) {
		@include font-size($fontsize1000);
		line-height: 3.5rem;
	}	
}

h2 {
	@include font-size($fontsize500);
	line-height: 1.5rem;

	@include bp(m) {
		@include font-size($fontsize700);
		line-height: 2rem;
	}

	@include bp(xl) {
		@include font-size($fontsize900);
		line-height: 2.5rem;
	}
}

h3 {
	@include font-size($fontsize400);
	line-height: 1.5rem;

	@include bp(m) {
		@include font-size($fontsize600);
		line-height: 2rem;
	}

	@include bp(xl) {
		@include font-size($fontsize700);
	}
}

h4 {
	@include font-size($fontsize300);
	line-height: 1rem;

	@include bp(m) {
		@include font-size($fontsize500);
		line-height: 1.5rem;
	}

	@include bp(xl) {
		@include font-size($fontsize600);
		line-height: 2rem;
	}
}

h5 {
	@include font-size($fontsize200);
	line-height: 1rem;
}

h6 {
	@include font-size($fontsize100);
	line-height: 1rem;

	@include bp(m) {
		@include font-size($fontsize200);
	}
}

p,
ol,
ul,
dl,
address {
	font-family: $texttypeface;
	margin-top: 0;
	margin-bottom: $gutterwidth / 2;
	@include font-size($basefontsize);
	line-height: $baselineheight;
	list-style-position: inside;
}

small {
	@include font-size($fontsize200);
}

strong {
	font-weight: 700;
}

// Headings =====================================================================

// Global heading styles

// mobile default heading
.story-heading {  
	@include font-size($fontsize400);
	line-height: 1.35rem;
}

h3.story-heading { 
	@include font-size($fontsize200);
	line-height: 1rem;

	@include bp(xl) {
		@include font-size($fontsize300);
		line-height: 1.35rem;
	}
}

h4.story-heading {
	@include font-size($fontsize200);
	line-height: 1rem;
}

// Headings for featured stories

.featured-story {

	.story-heading {
		font-weight: 700;
	}

	&.featured-sm {

		.story-heading {

			@include bp(m) {
				@include font-size($fontsize500);
				line-height: 1.75rem;
			}
		}
	}

	&.featured-mid {

		.story-heading {
			@include font-size($fontsize400);
			line-height: 1.5rem;
			font-weight: 700;

			@include bp(m) {
				@include font-size($fontsize600);
				line-height: 2rem;
			}
		}
	}

	&.featured-lg,
	&.featured-xl {

		.story-heading {

			@include bp(m) {
				@include font-size($fontsize600);
				line-height: 1.75rem;
				font-weight: 900;
			}

			@include bp(xl) {
				@include font-size($fontsize700);
				line-height: 2rem;
			}
		}
	}
}

// Headings for hero stories 

.hero-story .story-heading {
	@include font-size($fontsize700);
	line-height: 2rem;

	@include bp(m) {
		@include font-size($fontsize800);
		line-height: 2.5rem;
	}

	@include bp(l) {
		@include font-size($fontsize900);
		line-height: 2.5rem;
		font-weight: 900;
	}
}

.cover-hero .story-heading {
	@include bp(l) {
		@include font-size($fontsize900);
	}

	@include bp(xl) {
		@include font-size($fontsize1000);
		line-height: 3rem;
	}
}

// Headings for list stories

.list-story {
	.story-heading {
		font-weight: 700;

		@include bp(m) {
			@include font-size($fontsize500);
			line-height: 1.5rem;
		}

		@include bp(l) {
			@include font-size($fontsize600);
			line-height: 2rem;
		}
	}
}

// Headings for subheadings

.story-subheading {
	@include font-size($fontsize400);
	line-height: 1.5rem;
	font-weight: 700;

	&:before {
		display: inline-block;
		content: '';
		position: relative;
		margin-right: $gutterwidth / 2;
		vertical-align: middle;
		top: -1px;

		@include bp(m) {
			width: 8px;
			height: 8px;
		}

		@include bp(l) {
			width: 12px;
			height: 12px;
			top: -2px;
		}
	}
	
	.link {
		color: $bluegrey600;
	}
}

.hero-story .story-subheading {
	@include font-size($fontsize500);
	line-height: 2rem;
	font-weight: 900;

	@include bp(xl) {
		@include font-size($fontsize600);
	}
}

// Headings for any module title

.module-title {
	display: block;
	margin-bottom: $baseline;
	padding: $baseline 0;
	border-bottom: 1px solid $bordercolor;
	@include font-size($fontsize600);
	line-height: 2rem;
	font-family: $titleseriftypeface;
	font-weight: normal;
	color: $black900;

	& > span {
		display: block;
		font-family: $texttypeface;
		@include font-size($fontsize300);
		line-height: 1rem;
		font-weight: 400;
		color: $black700;
	}
}

// Text Elements ===============================================================

// Summary

.story-summary {
	color: $black800;
}

.hero-story .story-summary {
	@include font-size($fontsize400);
	line-height: 1.5rem;
}

.cover-hero .story-summary {
	color: $black400;
}

.list-story .story-summary {
	@include font-size($fontsize200);
	line-height: 1.35rem;
}


// Label, Kicker & Byline

.label,
time,
.timestamp {
	@include font-size(16);
}

.byline {
	margin-bottom: 0;
	line-height: .875rem;

	.label {
		display: inline-block;
		font-family: $brandtypeface;
		color: $black700;
		margin: 0 4px 4px 0;
		text-transform: lowercase;
	}
}

.card-label {
	display: inline-block;
	position: relative;
	padding-top: $gutterwidth / 2;
	margin-bottom: $baseline;
	color: $accentpink;
	@include font-size(14);
	line-height: 1em;
	font-family: $brandtypeface;
	text-transform: lowercase;

	@include bp(m) {

		@include font-size(16);
	
		&:before {
			position: absolute;
			left: -8px;
			top: 0;
			content: '';
			display: block;
			width: 115%;
			height: 6px;
			background-color: $accentpink;
		}
	}
}

.kicker {
	color: $bluegrey500;
	@include font-size($fontsize200);
	font-family: $texttypeface;
	font-style: italic;
	font-weight: 700;
}

.location-kicker {
	display: inline-block;
	@include font-size($fontsize200);
	color: $black600;
	font-weight: 700;	
}

// Links ===============================================================

.link {
	text-decoration: none;
	@include transition(color .3s ease);
}

.story-heading .link {
	color: $black900;

	&:hover {
		color: $black1000;
	}
}

.sublink .link {
	color: $black800;

	&:hover {
		color: $black900;
	}	
}

.section-title {
	color: $black900;
	font-family: $texttypeface;
	@include font-size(28);
	font-weight: 900;
	@include bp(m) {
		@include font-size(32);
		text-align: center;
	}
}

.inverted .link {
	color: white;

	&:hover {
		color: $black500;
	}
}

.theme-yellow .inverted .link:hover {
	color: $b-c-yellow;
}

.theme-blue .inverted .link:hover {
	color: $b-c-blue;
}

.theme-red .inverted .link:hover {
	color: $b-c-red;
}

.theme-green .inverted .link:hover {
	color: $b-c-green;
}

.theme-pink .inverted .link:hover {
	color: $b-c-pink;
}

.theme-purple .inverted .link:hover {
	color: $b-c-purple;
}

// Timestamp & Meteo ===============================================================

.site-date,
.site-meteo {
	display: inline-block;
	margin-right: $gutterwidth;
	color: $black700;
	font-family: $headingstypeface;
	@include font-size($fontsize100);
}

.site-meteo {
	vertical-align: middle;
	text-decoration: none;

	span {
		color: $black700;
	}
}

.site-date {
	line-height: 24px;
}

.edition {
	color: $black500;
	@include font-size($fontsize200);
}

.list-count {
	color: $black500;
	@include font-size(32);
	line-height: 1em;
}

