/* ==========================================================================
   Typography
   ========================================================================== */
 
// Font Face ===============================================================

@import "fontface";

// Global Styles ===============================================================

html {
	font-size: 100%;
	text-rendering: optimizeLegibility;
}
 
body {
 	font-family: $texttypeface;
	font-weight: $basetextweight;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $headingstypeface;
	font-style: normal;
	margin-bottom: $baseline * 2;
}

h1 {
	font-weight: $bigheadingeweight;
}

h2, h3, h4, h5, h6 {
	font-weight: $baseheadingweight;
}


h2 {
	@include bp(m) {
		font-weight: $bigheadingeweight;
	}
}

h1 {
	@include font-size($fontsize700);
	line-height: 2rem;

	@include bp(m) {
		@include font-size($fontsize800);
		line-height: 2.5rem;
	}

	@include bp(l) {
		@include font-size($fontsize900);
	}

	@include bp(xl) {
		@include font-size($fontsize1000);
		line-height: 3.5rem;
	}	
}

h2 {
	@include font-size($fontsize500);
	line-height: 1.5rem;

	@include bp(m) {
		@include font-size($fontsize600);
		line-height: 2rem;
	}

	@include bp(xl) {
		@include font-size($fontsize700);
		line-height: 2rem;
	}
}

h3 {
	@include font-size($fontsize500);
	line-height: 1.5rem;

	@include bp(l) {
		@include font-size($fontsize600);
		line-height: 2rem;
	}
}

h4 {
	@include font-size($fontsize300);
	line-height: 1.15rem;

	@include bp(m) {
		@include font-size($fontsize400);
		line-height: 1.35rem;
	}
}

h5 {
	@include font-size($fontsize200);
	line-height: 1rem;

	@include bp(xl) {
		@include font-size($fontsize300);
		line-height: 1.15rem;
	}
}

h6 {
	@include font-size($fontsize100);
	line-height: 1rem;

	@include bp(m) {
		@include font-size($fontsize200);
	}
}

p,
ol,
ul,
dl,
address {
	font-family: $texttypeface;
	margin-top: 0;
	margin-bottom: $gutterwidth / 2;
	@include font-size($basefontsize);
	line-height: $baselineheight;
	list-style-position: inside;
}

small {
	@include font-size($fontsize200);
}

strong {
	font-weight: 700;
}


// Headings =====================================================================

.story-heading,
.story-subheading {
	word-wrap: break-word;
}

// list story headings

.list-story .story-heading {
	@include max-bp(s) {
		@include font-size($fontsize400);
		line-height: 1.35rem;
	}
}

// featured story headings

.featured-story {

	&.featured-sm {

		.story-heading {

			@include bp(m) {
				@include font-size($fontsize500);
				line-height: 1.5rem;
			}
		}
	}

	&.featured-lg {

		.story-heading {

			@include bp(m) {
				@include font-size($fontsize500);
				line-height: 1.5rem;
			}
		}
	}
}

// hero story headings

.hero-story .story-heading {
	@include bp(l) {
		@include font-size($fontsize900);
		line-height: 2.5rem;
		font-weight: 900;
	}
}

// cover hero story headings

.cover-hero .story-heading {

	@include bp(xl) {
		@include font-size($fontsize1000);
		line-height: 3rem;
	}
}

// focus section story headings

.focus-section {
	
	.hero-story .story-heading {

		@include bp(l) {
			@include font-size($fontsize800);
			line-height: 2.5rem;
		}
	}

	.hero-story.fullpage-story .story-heading {
		font-family: $titleseriftypeface;
		@include font-size($fontsize500);
		line-height: 1.5rem;

		@include bp(m) {
			@include font-size($fontsize800);
			line-height: 2.5rem;
		}

		@include bp(l) {
			@include font-size($fontsize900);
			line-height: 2.5rem;
		}

		@include bp(xl) {
			@include font-size($fontsize1000);
			line-height: 3.5rem;
		}
	}

	.featured-story .story-heading {
		@include bp(l) {
			@include font-size($fontsize400);
			line-height: 1.5rem;
		}
	}
}

.focus-section .list-story .story-heading,
.focus-section .featured-story .story-heading {
	@include bp(m) {
		@include font-size($fontsize300);
		line-height: 1.35rem;
	}
}	

// Headings for inset story

.inset-story {
	.story-heading {
		font-family: $titleseriftypeface;
		font-weight: normal;

		@include font-size($fontsize300);
		line-height: 1.25rem;

		@include bp(m) {
			@include font-size($fontsize500);
			line-height: 1.5rem;
		}

		@include bp(xl) {
			@include font-size($fontsize800);
			line-height: 2.5rem;
		}
	}

	.link {
		color: white;
	}
}

// Headings for subheadings

.story-subheading {
	display: inline-block;
	font-family: $headingstypeface;
	@include font-size($fontsize400);

	&:before {
		display: inline-block;
		content: '';
		position: relative;
		margin-right: $gutterwidth / 2;
		vertical-align: middle;
		top: -1px;

		@include bp(m) {
			width: 8px;
			height: 8px;
		}
	}
	
	.link {
		color: $bluegrey600;
	}
}

.hero-story .story-subheading {
	@include font-size($fontsize500);
	line-height: 1.5rem;
	font-weight: 900;

	@include bp(xl) {
		@include font-size($fontsize600);
		line-height: 2rem;
	}

	&:before {

		@include bp(l) {
			width: 12px;
			height: 12px;
			top: -2px;
		}
	}
}

// Module heading title

.module-title {
	display: block;
	margin-bottom: $baseline;
	padding: $baseline 0;
	border-bottom: 1px solid $bordercolor;
	@include font-size($fontsize500);
	line-height: 2rem;
	font-family: $titleseriftypeface;
	font-weight: normal;
	color: $black900;

	@include bp(xl) {
		@include font-size($fontsize600);
	}

	& > span {
		display: block;
		font-family: $texttypeface;
		@include font-size($fontsize300);
		line-height: 1rem;
		font-weight: 400;
		color: $black700;
	}
}

// Page title

.page-title {
	font-family: $titleseriftypeface;
	font-weight: normal;
	@include font-size($fontsize800);
	color: $black1000;
}

// Section title

.section-title {
	position: relative;
	padding-bottom: $baseline;
	margin-bottom: $baseline;
	border-bottom: 1px solid $black400;
	font-family: $titleseriftypeface;
	font-weight: normal;
	font-style: italic;
	color: $black900;

	@include bp(m) {
		border-bottom: 0;
		padding-bottom: 0;
		margin-bottom: $baseline * 2;
	}

	&:before {
		content: '';
		display: block;
		width: 100%;
		height: 4px;
		position: absolute;
		top: 0;
		background-color: $black800;
		z-index: 0;

		@include bp(m) {
			top: 50%;
		}
	}
	
	.kicker {
		padding-top: 12px;
		display: inline-block;
		font-family: $titleseriftypeface;
		@include font-size($fontsize400);
		font-weight: normal;
		color: $black900;

		@include bp(m) {
			position: relative;
			padding-top: 0;
			background-color: white;
			z-index: 1;
			padding-right: $baseline * 2;
			@include font-size($fontsize600);
		}
	}
}

// Entry title

.entry-title {
	margin-bottom: $baseline;
	color: $black1000;

	@include bp(m) {
		@include font-size($fontsize1000);
		line-height: 3.5rem;
	}
}


// Text Elements ===============================================================

// Content text 

.text-paragraph {
	@include bp(m) {
		@include font-size($fontsize500);
		line-height: 2rem;
	}
}

// Summary

.summary {
	color: $black800;
}

.inverted .summary {
	color: $black400;
}

.entry-summary {
	margin-bottom: 0;

	@include bp(m) {
		@include font-size(22);
		line-height: 2rem;
	}
}

.hero-story .story-summary,
.fullpage-story .story-summary {
	@include font-size($fontsize300);
	line-height: 1.5rem;

	@include bp(xl) {
		@include font-size($fontsize400);
		line-height: 1.5rem;
	}
}

.featured-sm {
	.story-summary {
		@include font-size($fontsize200);
	}
}

.list-story .story-summary {
	@include font-size($fontsize300);
	line-height: 1.35rem;
}

.inset-story .story-summary {
	@include max-bp(m) {
		display: none;
	}

	@include font-size($fontsize200);

	@include bp(xl) {
		@include font-size($fontsize300);
	}
}

// Timestamp

time,
.timestamp {
	font-family: $texttypeface;
	font-weight: 400;
	@include font-size($fontsize100);
	color: $black700;
}

.byline {
	margin-bottom: 0;
	line-height: .875rem;
}

// Label

.label {
	margin: 0 4px 4px 0;
	display: inline-block;
	font-family: $brandtypeface;
	color: $black600;
	text-transform: lowercase;
}

	.card-label {
		display: inline-block;
		position: relative;
		padding-top: $gutterwidth / 2;
		margin-bottom: $baseline;
		color: $accentpink;
		@include font-size(14);
		line-height: 1em;
		font-family: $brandtypeface;
		text-transform: lowercase;

		@include bp(m) {

			@include font-size(16);
		
			&:before {
				position: absolute;
				left: -8px;
				top: 0;
				content: '';
				display: block;
				width: 115%;
				height: 6px;
				background-color: $accentpink;
			}
		}
	}

	.entry-label {
		@include font-size($fontsize200);
		color: $black700;

		@include bp(l) {
			@include font-size($fontsize300);
		}

		@include bp(xl) {
			display: block;
		}

		&.category-label {
			font-family: $titleseriftypeface;

			@include bp(l) {
				@include font-size($fontsize500);
			}
		}
	}

// Kicker

.kicker {
	color: $bluegrey500;
	@include font-size($fontsize200);
	font-family: $texttypeface;
	font-style: italic;
	font-weight: 700;
}

	.highlight-kicker {
		display: inline-block;
		font-family: $headingstypeface;
		@include font-size($fontsize300);

		@include bp(l) {
			@include font-size($fontsize500);
		}
	}

	.highlight-kicker {

		@include bp(m) {
			margin-bottom: $baseline;
		}

		&:before {
			content: '';
			display: block;
			width: 2.5rem;
			height: .35rem;
			margin-bottom: $baseline / 2; 
		}
	}

	.fullpage-story .highlight-kicker {
		font-weight: 900;

		@include bp(m) {
			@include font-size($fontsize600);
		}

		@include bp(l) {
			@include font-size($fontsize700);
		}

		&:before {
			width: 4rem;
			height: .5rem;
		}
	}

	.location-kicker {
		display: inline-block;
		color: $black600;
		font-family: $texttypeface;
		font-weight: 700;
	}


// Links ===============================================================

.link {
	text-decoration: none;
	@include transition(color .3s ease);
}

	.story-heading .link {
		color: $black900;

		&:hover {
			color: $black1000;
		}
	}

	.sublink .link {
		color: $black800;

		&:hover {
			color: $black900;
		}	
	}

	.inverted .link {
		color: white;

		&:hover {
			color: $black500;
		}
	}

	.theme-yellow .inverted .link:hover {
		color: $b-c-yellow;
	}

	.theme-blue .inverted .link:hover {
		color: $b-c-blue;
	}

	.theme-red .inverted .link:hover {
		color: $b-c-red;
	}

	.theme-green .inverted .link:hover {
		color: $b-c-green;
	}

	.theme-pink .inverted .link:hover {
		color: $b-c-pink;
	}

	.theme-purple .inverted .link:hover {
		color: $b-c-purple;
	}

// Timestamp & Meteo ===============================================================

.site-date,
.site-meteo {
	display: inline-block;
	margin-right: $gutterwidth;
	color: $black700;
	font-family: $headingstypeface;
	@include font-size($fontsize100);
}

.site-meteo {
	vertical-align: middle;
	text-decoration: none;

	span {
		color: $black700;
	}
}

.site-date {
	line-height: 24px;
}

.edition {
	color: $black500;
	@include font-size($fontsize200);
}

.list-count {
	color: $black500;
	@include font-size(32);
	line-height: 1em;
}

// Tags ===============================================================

.tag-item {
	font-family: $headingstypeface;
	font-weight: 700;
	@include font-size($fontsize200);

	@include bp(m) {
		@include font-size($fontsize300);
	}

	strong {
		color: $black700;
		margin-right: 4px;
	}

	.button {
		padding: 0.2rem 0.6rem;
		color: $bluegrey600;
	}
}