// Website's atmosphere
@import "config";

// Sass mixins
@import "mixins";

// Variables
$entry-content-width	: 640px;
$entry-content-offset	: 180px;

/* ==========================================================================
  Article
  ========================================================================== */

.entry {
	padding: 0 $baseline;
	@include clearfix;

	@include bp(m) {
		padding: 0 $baseline * 3;
	}

	@include bp(l) {
		padding: 0 $baseline * 2;
	}
}

// Entry Header ===============================================================

.entry-title,
.entry-summary {
  	@include bp(xl) {
  		margin-left: 13rem; 	
  	}
 }

.entry-header {
	position: relative;
	margin-bottom: $baseline;
	@include clearfix;

	@include bp(m) {
		margin-bottom: $baseline * 2;
	}

	@include bp(l) {
		padding: $baseline * 2 0;
	}

	@include bp(xl) {
		margin-bottom: 0;
	}
}

.entry-labels {
	@include bp(xl) {
		float: left;
		width: 11rem;
		padding-top: .5rem;
	}
}

.entry-label {
	position: relative;
	margin: 0 0 $baseline;

	&.category-label {
		display: inline-block;
	}
}

// Entry Content ===============================================================

.entry-content { 
	@include clearfix;
	float: left;
	width: 100%;
	position: relative;
}

.content-main-column {
	position: relative;

	@include bp(l) {
		width: 37.5rem;
		margin-right: 22rem;
	}

	@include bp(xl) {
		margin: 0 $gutterwidth 0 13rem;
	}
}

.content-secondary-column {
	display: none;
	width: 22rem;

	@include bp(l) {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
	}
}

.entry-content-body {

	> p {
		margin-bottom: $baseline * 2;
		color: $black1000;

		@include bp(m) {
			@include font-size($fontsize400);
			line-height: 2rem;
		}
	}
}

// Entry Meta

.entry-meta {
	margin-top: $baseline;
	@include clearfix;

	@include bp(m) {
		margin-top: $baseline * 2;
		padding-bottom: $baseline;
		border-bottom: 1px solid $bordercolor;
	}

	@include bp(l) {

	}

	@include bp(xl) {
		position: absolute;
		top: 100%;
		left: 0;
		width: 11rem;
		margin-top: 0;
		padding-bottom: 0;
	}
}

// Entry Media

.entry-media {
	position: relative;
	margin: 0 -0.5rem $baseline * 2;
	width: 100%;

	@include bp(m) {
		float: left;
		margin: 0 0 $baseline * 2;
	}

	img {
		width: 100%;
	}
}

// Entry Footer ===============================================================

.entry-footer {

	@include bp(xl) {
		margin-bottom: $baseline * 4;
		width: 38rem;
	}
}

// Entry Footer ===============================================================

.entry-inner-slots {
	display: none;
	width: auto;

	@include bp(m) {
		display: block;
		float: left;
		clear: left;
		padding: $baseline * 2;
		margin: 0 $baseline * 3 $baseline * 3 0;
	}

	@include bp(l) {
		display: none;
	}

	@include bp(xl) {
		display: none;
	}
}

.entry-aside-slots {
	display: none;
	float: right;
	clear: right;
	width: 20rem;

	@include bp(l) {
		display: block;
	}
}