// Website's atmosphere
@import "config";

// Sass mixins
@import "mixins";

/* ==========================================================================
  ARTICLE
  ========================================================================== */

// Variables
$entry-content-width	: 640px;
$entry-content-offset	: 180px;

/* ==========================================================================
  Global Styles
  ========================================================================== */

.entry {
	padding: 0 $baseline;
	@include clearfix;

	@include bp(m) {
		padding: 0 $baseline * 3;
	}

	@include bp(l) {
		padding: 0 $baseline * 2;
	}
}

// Entry Header ===============================================================

.entry-title,
.entry-summary {
  	@include bp(xl) {
  		margin-left: 13rem; 	
  	}
 }

.entry-header {
	position: relative;
	margin-bottom: $baseline;
	@include clearfix;

	@include bp(l) {
		padding: $baseline * 2 0;
	}
}

.entry-labels {
	@include bp(xl) {
		float: left;
		width: 11rem;
		padding-top: .5rem;
	}
}

.entry-label {
	position: relative;
	margin: 0 0 $baseline;

	&.category-label {
		display: inline-block;
	}
}

// Entry Meta ===============================================================

.entry-meta {
	margin-bottom: $baseline;
	@include clearfix;

	@include bp(m) {
		margin-bottom: $baseline * 2;
		padding-bottom: $baseline;
		border-bottom: 1px solid $bordercolor;
	}

	@include bp(l) {
		border-top: none;
	}

	@include bp(xl) {
		position: relative;
		z-index: 5;
		float: left;
		width: 11rem;
		margin-bottom: 0;
		padding-bottom: 0;
	}
}

// Entry Content ===============================================================

.entry-content { 
	@include clearfix;
	float: left;
	width: 100%;
	position: relative;
}

.main-content-column {
	@include bp(xl) {
		margin-left: 13rem;
	}
}

.body-text {
	width: 100%;

	@include bp(l) {
		max-width: 38rem;
	}

	@include bp(xl) {
		max-width: 38rem;
	}

	> p {
		margin-bottom: $baseline * 2;
		color: $black1000;

		@include bp(m) {
			@include font-size($fontsize400);
			line-height: 2rem;
		}
	}
}

.entry-content-main {
	position: relative;
	width: 100%;

	@include bp(l) {
		margin: 0 $gutterwidth 0 0;
	}
}

.entry-media {
	position: relative;
	margin: 0 -0.5rem $baseline * 2;

	@include bp(m) {
		margin-bottom: $baseline * 3;
		margin-left: 0;
		width: 100%;
	}

	@include bp(l) {
		float: left;
		margin: 0 0 20px 0;

		&.media-sm {
			width: 310px;
			float: right;
		}

		&.media-mid {
			width: $entry-content-width;
		}

		&.media-lg {
			width: auto;
		}
	}

	@include bp(l) {
		float: none;
		width: 38rem;
	}

	img {
		width: 100%;
	}
}

.story-highlights {
	list-style: none;
	margin-left: 0;
	margin-right: 30px;
	padding: 0;
	width: 250px;
	float: left;

	h4 {
		margin-bottom: 10px;
	}

	li {
		border-top: 1px solid #ccc;
		font-size: 14px;
		padding: 10px 0;
	}
}

.top-stories {
	margin: 24px 0;

	@include bp(l) {
		margin: 0;
	}

	.section-title {
		margin-bottom: 20px;
		@include font-size(24);
	}

	ul {
		margin: 0;
		padding: 0;
		@include clearfix;
	}

	li {
		border-bottom: 1px solid #ccc;
		overflow: auto;

		@include bp(m) {
			border: 0;
			float: left;
		}

		@include bp(l) {
			border: 0;
		}

		&:last-child {
			border-bottom: 0;
		}
	}

	figure {
		float: left;
		margin: 0 10px 10px 0;
		width: 30%;

		@include bp(m) {
			width: 100%;
		}	
	}

	.story-heading {
		@include font-size(14);
		margin-bottom: 0px;

		@include bp(m) {
			font-size: 16px;
		}
	}
}

// Entry Footer ===============================================================

.entry-footer {

	@include bp(xl) {
		margin-bottom: $baseline * 4;
		width: 38rem;
	}
}

/* ==========================================================================
  Modules
  ========================================================================== */

.back-top {
	clear: left;
	padding: 10px 0;
	border-top: 1px solid #ccc;
	@include bp(l) {
		display: none;
	}
}

.bottom-nav {
	border-top: 1px solid #ccc;
	@include bp(l) {
		display: none;
	}
}

.bottom-nav ul {
	padding: 0;
	width: 50%;
	float: left;

	& li {
		margin-bottom: 10px;
	}

	& a {
		@include font-size(12);
	}

}

/* ==========================================================================
  Advertising
  ========================================================================== */

.adv {
	margin: 0 auto;
}

.pushbar {
	margin: 0 auto 16px;
	padding: 0 $gutterwidth;
	text-align: center;
	> * {
		display: none;
	}

	@include max-bp(s) {
		.mobile {
			display: block;
		}
	}

	@include bp(m) {
		.desktop {
			display: block;
			> img {
				height: 40px;
				@include bp(l) {
					height: 60px;	
				}
			}
		}
	}	
}

.leaderboard {
	display: none;
	margin: 10px auto;
	width: 728px;
}

.billboard {
	display: none;
	width: 970px;
	margin: 10px auto;
}

.medium-rectangle-mobile {
	display: block;
	margin: 0 auto 40px;
	width: 300px;
	@include bp(l) {
		display: none;
	}
	
}

.entry-inner-slots {
	display: none;
	width: auto;

	@include bp(m) {
		display: block;
		float: right;
		clear: right;
		padding: $baseline * 3;
		margin: 0 0 $baseline * 3 $baseline * 3;
	}

	@include bp(l) {
		display: none;
	}

	@include bp(xl) {
		display: none;
	}
}

.entry-aside-slots {
	display: none;
	float: right;
	clear: right;
	width: 20rem;

	@include bp(l) {
		display: block;
	}
}