// Website's atmosphere
@import "config";

// Sass mixins
@import "mixins";

// Sass forms
@import "forms";

.footer-page {
	width: 100%;
	padding:0 1rem;
	
	@include bp(l) {
		width:1188px;
		height:160px;
		margin:0 auto;
	}
	
	.back-to-top {
		padding:1rem 0 0;
		padding-bottom:1rem;
		margin-bottom:1rem;
		border-bottom: 1px solid $black400;
		
		.back-to-top-link {
			color: $black600;
		}
		
	}
	
	.footer-first-logo {
		text-transform: uppercase;
		margin-bottom:2rem;
		
		
		img {
			max-width:35%;
			
			@include bp(m) {
				max-width:25%;
			}
			
			@include bp(l) {
				max-width:15%;
			}
		}
	}
	
	.footer-list-link {
		width:100%;
		padding:0 0 1rem;
		margin-bottom:2rem;
		border-bottom:1px solid $black400;
		float:left;
		
		
		@include bp(m) {
			width:33.33%;
			float:left;
			border-bottom:none;
		}
		
		@include bp(l) {
			width:24%;
			height:100%;
			float:left;
			border-bottom:none;
			padding-left:1rem;
			border-right:1px solid $black400;
		}
		
		&.is-desktop {
			padding-top: 2rem;
    		padding-bottom: 1.5rem;
			padding-left:0;
			
			.list-link {
				margin-bottom:1rem;
			}
		}
		
		h3 {
			color:$black700;
			@include font-size($fontsize200);
			margin:0;
		}
		
		ul {
			list-style:none;
			margin:0;
			padding:0;
			width:50%;
			
			li {
				text-align:left;
				width: 100%;
				
				a {
					color:$black700;
					text-decoration:none;
					@include font-size($fontsize100);
					
					&:hover {
						color:$black900;
					}
				}
				
			}
		
		&.list-link {
			float:left;
		}
			
		}
	}
	.footer-site-link {
		width:24%;
		height:100%;
		float:left;
		padding-left:1rem;
		border-right:1px solid $black400;
		
		.site-link-desktop {
			
			h3 {
				color:$black700;
				@include font-size($fontsize200);
				margin:0;
			}
			img {
				float:left;
				max-width:100%;
				margin-right:1rem;
				padding-top:.5rem;
			}
			
			ul {
				list-style:none;
				margin:0;
				padding:0;
				float: left;
    			padding-left: 1rem;
				
				li {
					text-align:left;
					width: 100%;
					
					a {
						color:$black700;
						text-decoration:none;
						@include font-size($fontsize100);
						
						&:hover {
							color:$black900;
						}
					}
					
				}
			}
		}
	}
	.footer-social-mobile {
		padding:0 0 1rem;
		border-bottom:1px solid $black400;
		margin-bottom:2rem;
		
		h3 {
			color:$black700;
			margin-bottom:2rem;
			@include font-size($fontsize200);
			
			@include bp (l) {
				margin-bottom:0;
			}
		}
		
		.footer-social-link {
			width:50%;
			margin:0 auto 1rem;;
			
			.btn-social-fb-footer {
				width:40%;
				margin-right:1rem;
				background-color: #3B5998;
				
				@include bp(m) {
					width:30%;
					margin-right:.5rem;
				}
				
				@include bp(l) {
					width:25%;
					float:left;
						
				}
			}
			.btn-social-tw-footer {
				width:40%;
				margin-right:1rem;
				background-color:#55ACEE;
				
				@include bp(m) {
					width:30%;
					margin-right:.5rem;
				}
				
				@include bp(l) {
					width:25%;
					float:left;
						
				}
			}
			
			.btn-social-rss-footer{
				width:25%;
				float:left;
				margin-right:.5rem;
			}
			
			@include bp(l) {
				width:100%;	
			}	
		}
		
		@include bp(m) {
			width:33.33%;
			float:left;
			border-bottom:none;
		}
		
		@include bp(l) {
			width:24%;
			height:100%;
			padding-left:1rem;
			
			h3 {
				text-align:left;
			}	
		}	
	}
	.footer-site-link-mobile {
		width:100%;
		padding:0 2rem;
		margin-bottom:2rem;
		
		@include bp(m) {
			width:33.33%;
			float:left;
			padding:0;
		}
		
		@include bp(l) {
			display: none;
		}
		
		.dropdown {
			width:100%;
			
			.dropdown-toggle {
				width:100%;
			}
		}

	}
	
	.footer-note {
		width:100%;
		float:left;
		
		.footer-second-logo {
			
			img {
				display:block;
				float:left;
			}
		}
		
		.footer-last-list-link {
			
			ul {
				list-style: none;
				float:left;
				
				li {
					display: inline;
					margin-right:1rem;
					
					a {
						color:$black700;
						@include font-size($fontsize200);
						font-weight: bold;
						text-decoration:none;
						
						&:hover {
							color:$black900;
						}
					}
				}
			}
		}
		
		@include bp(m) {
			border-top: 1px solid $black400;
			padding-top:1rem;
		}
		
		.footer-copy {
			@include font-size($fontsize100);
			color: $black700;
		
			@include bp(l) {
				float:right;
			}
		}
	}
}

