/* ==========================================================================
   LIBRARY
   ========================================================================== */

@import "config";

@import "mixins";

.library {
	background-color: white;
}

.nomargin {
	margin: 0;
}

.nopadding {
	padding: 0;
}

/* ==========================================================================
  Typography
  ========================================================================== */

.lib-heading {
	font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
	font-weight: normal;
}

.lib-text {
	font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.help-text {
	font-size: 75%;
	line-height: 75%;
	color: $black700;
}

/* ==========================================================================
  Example
  ========================================================================== */

.lib-block-example {
	border: 1px solid #e0e0e0;
	margin-bottom: 3rem;
	padding: 2rem;
}

.example-list li {
	margin: 1rem 0;
}