// Website's atmosphere
@import "config";

// Sass mixins
@import "mixins";

.user-profile {	
	
	.user-profile-img {
		
		float:left;
        width: 30%;
        
        @include bp(m) {
            width: 35%;
        }
        
        @include bp(l) {
            width: 100%;
        }
		
		img {
			width:100%;
			display:block;
			cursor:pointer;
            
            @include bp(l) {
                width: 15%;
                margin:0 auto;
            }
		}
		
		.user-profile-name {
			font-size:1rem;
			font-weight:bold;
			text-align:center;
			padding-top:.5rem;
			margin-bottom:1rem;
			
			@include bp(m){
				font-size:1.250rem;
			}
            
            .user-profile-rank {
                display: block;
                font-size: .875rem;
            }
            .user-profile-date-registered {
                display: none;
                font-size: .875rem;
                
                @include bp(l) {
                    display: block;
                }
            }
		}
		
	}
    
    /* Lista dettagli (location - like - dislike ...)*/
    .user-profile-list-details {
        float: right;
        
        @include bp(l) {
            width: 100%;
            margin: 0 auto 1rem;
            padding-bottom: 1rem;
            border-bottom: 1px solid $bordercolor;
            display: flex;
            justify-content: space-around;
        }
            
        .user-single-detail {
            text-align: right;
            font-size: .750rem;
            font-weight: 700;
            line-height: 1.500rem;
            
            @include bp(l) {
                display: inline;
                padding: 0 1rem;
            }
            
            .icon {
                margin-left: .250rem;
                margin-bottom: .250rem;
            }
                
             /*@include bp(l) {
                 display: inline;
            }*/
                
        }
    }
    
    /* Menu navigazione contenuti */
    .nav-user-activity {
        padding-top: .500rem;
        border-top: 1px solid $bordercolor;
        
        @include bp(l) {
            padding-top: 0;
            border-top: 0;
        }
        
        .navbar-toggle {
            margin: 0;
            padding: 0;
        }
        
        .navbar-collapse {
            padding: 0;
        }
        
        .navbar-header {
            float: none;
        }
        
        .nav-user-profile-content {
            padding-bottom:1rem;
		    margin-bottom:1rem;
		    border-bottom: .250rem solid $bordercolor;
		
		    .nav-item {
                width: 100%;
                
                @include bp(l) {
                    float: left;
                    width: auto;
                }
                
                a {
                    font-size: .875rem;
                    padding: .250rem;
                    
                    @include bp (s) {
                        padding: .500rem;
                    }
			
				    &:focus {
					    text-decoration:none;
                    }	
					
                    .count-activity {
                        font-weight: bold;
                    }
                    
                }
                
                &.active {
                    
                    a {
                        background-color: $b-c-yellow;
                        color:$black700;
                        padding: .250rem;
                        
                        @include bp (s) {
                            padding: .500rem;
                        }
                        
                        .count-activity {
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
    
	.nav-user-modify-profile {
        border-top: 1px solid $bordercolor;
        padding: 1rem 0;
        margin-bottom: 1rem;
        border-bottom: 0.25rem solid $bordercolor;
        
        @include bp(l) {
            border-top: 0;
            padding-top: 0;
        }
        
        .nav-user-profile{
            
            .nav-item {
                
                a {
                    font-size: .875rem;
                    padding: .250rem;
                    
                    @include bp (s) {
                        padding: .500rem;
                    }
                }
                
                &.active {
                    
                    a {
                        background-color: $b-c-yellow;
                        color:$black700;
                        padding: .250rem;
                        
                        @include bp (s) {
                            padding: .500rem;
                        }
                    }
                }
            }
        }
    }
    
	.form-modify-profile {
		
		.form-modify-profile-fieldset {
			width:100%;
			float:left;
			
			.form-profile-title-fieldset {
				font-size:1rem;
				text-transform:uppercase;
				padding-bottom:.5rem;
				color: $black600;
				border-bottom: 2px solid $black600;
				
				@include bp(m) {
					padding-bottom:0;
					border-bottom:none;
				}
			}
			
			.form-group {
				
				.group{
					
					@include bp (m) {
						padding-right:.5rem;
					}
				}
				
				label {
					padding-left:.5rem;
				}
				
				.checkbox {
					
					float:left;
					
					input {
						cursor:pointer;
					}
					
					label {
						margin-left:1rem;
						cursor:default;
					}
				}
				
				@include bp(m) {
					margin-left:9rem;
					padding:2rem 0 2rem 2rem;
					border-left: 2px solid $black600;
				} 
				
				@include bp(l) {
					margin-left:11rem;
				}
				
				input {
					margin-bottom: 1rem;
				}
				textarea {
					margin-bottom: 1rem;
				}
				select {
					margin-bottom: 1rem;
				}
			}
		}
		
		/*.user-profile-data-access {
			display:none;
		}*/
	}
	
	.user-profile-container-activity {
		
		.user-post-activity {
			width:100%;
			float:left;
			background-color: $black200;
			margin-bottom:1rem;
			@include rounded(.250rem);
			
			header {
				width:100%;
				padding:.500rem;
				border-bottom: 1px solid $bordercolor;
                margin-bottom: 1rem;
				@include clearfix;
				
				.user-post-profile-photo {
					float:left;
				}
				.user-post-profile-details {
					float:left;
					font-size:.750rem;
					margin:0;
					line-height:3rem;
					padding-left:1rem;
				}
			}
			
			.user-post-content-image {
				float:left;
				padding:1rem .500rem;
				
			}
			
			.title-user-post-content {
				font-size:1.250rem;
				padding-top:.500rem;
			}
				
			.text-user-post-content {
				font-size:.875rem;
			}
			
			.user-post-footer-datails {
				float:left;
				width:100%;
				padding:.500rem;
				border-top: 1px solid $bordercolor;
				@include clearfix;
				
				.user-post-date {
					font-size:.750rem;
					float:left;
					
					.icon {
						margin-right:.500rem;
					}
				}
				
				.user-post-comments {
					font-size:.750rem;
					float:left;
					margin-left: 1rem;
					
					.icon {
						margin-right:.500rem;
					}
				}
				
				.user-post-social-btn {
					list-style:none;
					float:right;
					
					
					
					li {
						display:inline;
					}
				}
			}
			
			.text-user-profile-comment {
				width: 90%;
                padding: 1rem;
                margin: 1rem auto 1rem;
                font-weight: 700;
                text-align: center;
                background-color: $bluegrey400;
                border-bottom: .250rem solid $black400;
                color:white;
                
			}
			
            .title-post-commented {
                padding: 1rem .500rem;
                font-size: .875rem;
                
                .link-post-commented {
                    /*font-weight: 700;*/
                }
				
			}
		}
	}
    .user-profile-col-right {
        padding-left: .500rem;
        
        .label {
            padding:0 .500rem .500rem;
            border-bottom: 1px solid $black400;
            width: 100%;
        }
        .user-profile-list-badge {
            margin-bottom: 2rem;
        }
        .user-profile-list-followers {
            margin-bottom: 2rem;
            
            .single-follower {
                float: left;
                margin: .250rem;
                
                .avatar {
                    width: 48px;
                    border: 2px solid $black400;
                    
                    img {
                        width: 100%;
                        display: block;
                    }
                }
            }
            
        }
        
        .user-profile-list-following {
            margin-bottom: 2rem;
            
            .single-follower {
                float: left;
                margin: .250rem;
                
                .avatar {
                    width: 48px;
                    border: 2px solid $black700;
                    
                    img {
                        width: 100%;
                        display: block;
                    }
                }
            }
        }
        
        .user-most-active {
            
            .single-user-most-active {
                width: 100%;
                float: left;
                padding: .750rem .500rem;
                border-bottom: 1px dotted $black700;
                
                .position{
                    float: left;
                    font-size: 1rem;
                    font-weight: bold;
                    padding: .750rem .500rem;
                }
                
                .avatar {
                    width: 48px;
                    float: left;
                    border: 2px solid $black700;
                    
                    img {
                        width: 100%;
                        display: block;
                    }
                }
                
                .username {
                    float: left;
                    padding: .750rem .500rem;
                }
                
                .sum {
                    float: right;
                    text-align: right;
                    
                    .counter {
                        font-size: .875rem;
                        font-weight: bold;
                    }
                    
                    .counter-label {
                        font-size: .875rem;
                    }
                }
            }
        }
    }
}